@model Imobiliare.Entities.Judet

@{
    ViewBag.Title = "Edit";
    Layout = "_LayoutB4";
}

@Html.Partial("_MenuSuperAdmin")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Judet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrescurtareAuto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrescurtareAuto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrescurtareAuto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoordinateGps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoordinateGps, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CoordinateGps, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h3 style="display: inline-block">Descriere: (foloseste https://word2cleanhtml.com/ ptr conversie .docx la html). Orice editare a unui judet necesita o repornire a application serverului pentru a se reface cacheul si a fi vizibila modificarea pe site.</h3><br />

            <br />
            <textarea style="width: 100%; max-width: 1000px; height: 300px" id="Descriere" name="Descriere">@Model.Descriere</textarea>
            <br />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
