@{
    ViewBag.Title = "Mesaje Trimise";
    Layout = "~/Views/Shared/_LayoutBootstrap5.cshtml";
}

@using Imobiliare.Entities
@model IEnumerable<Imobiliare.Entities.Mesaj>

<div class="container">
    @Html.Partial("_MenuUserProfileB5")
    <br />
    @Html.ActionLink("Mesaje primite", "Index", null, new { @class = "btn btn-primary" })
    <a href="@Url.Action("Trimise")" class="btn btn-light"><span class="bi bi-send"></span>&nbsp;Mesaje trimise</a>
    <br />
    <br />
    @if (!Model.Any())
    {
        <h3>Nu aveti mesaje trimise</h3>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ToUser.Email)
                </th>
                <th>
                    Subiect
                </th>
                <th>
                    Data
                </th>
                <th>
                    Anunt
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderByDescending(x => x.CreateDateTime))
            {
                <tr onclick="window.location = '@Url.Action("Details", new {id = item.Id})'" style="cursor: pointer">
                    <td>
                        @Html.DisplayFor(modelItem => item.ToUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Continut)
                    </td>
                    <td>
                        @item.CreateDateTime.ToShortDateString()
                    </td>
                    <td>
                        @if (item.Categorie == MesajCategorie.Anunt && item.Imobil != null)
                        {
                            <img src="~/Images/uploadedPhotos/@item.Imobil.FirstPhoto" style="height: 30px" />
                        }
                        else
                        {
                            <p>profil</p>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Mesaje", new {id = item.Id})" class="btn btn-danger"><span class="bi bi-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    }

</div>