@model Imobiliare.UI.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Schimba Parola";
    Layout = "_LayoutB5";
}

<div class="container">
    @Html.Partial("_MenuUserProfileB5")

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group col-xs-12 floating-label-form-group controls my-2">
            @Html.PasswordFor(m => m.OldPassword, new { title = "Introduceti parola personala", placeholder = "Parola curentă", type = "password", @class = "form-control" })
        </div>

        <hr />

        <div class="form-group col-xs-12 floating-label-form-group controls my-2">
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Parola nouă", type = "password", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 floating-label-form-group controls my-2">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirmă parola nouă", type = "password", @class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group my-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Schimbă parola" />
            </div>
        </div>
    }
</div>