@model Imobiliare.UI.Models.EditAgentieImobiliaraModel

@{
    ViewBag.Title = "Editare Agentie";
    Layout = "~/Views/Shared/_LayoutBootstrap5.cshtml";
}

<div class="container">
    @Html.Partial("_MenuUserProfileB5")

@*    @if (Request.UrlReferrer != null)
    {
        /*TODO DAPI - maybe use actionlink to refresh page with added/removed users*/
        <a class="btn btn-primary" href="@Url.Action("EditUserDetails")" style="margin: 5px 0 10px 0"><span class="bi bi-arrow-left"></span> Înapoi la detalii cont</a>
    }*@

@*    @if (Model != null)
    {
        using (Ajax.BeginForm("RegisterAgentByAgentImobiliar", "Account", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ImageArea"
        }))
        {
            <input type="hidden" name="agentieId" value="@Model.Agentie.Id" />
            <div id="ImageArea">
                @Html.Partial("_EditListaAgentiForAgentie", @Model.Agentie)
            </div>
        }
    }*@
    else
    {
        <p>Nu s-a gasit agentia pentru acest user!</p>
    }
</div>

@section Scripts {
    @*    @Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
