@using Imobiliare.Entities
@model Imobiliare.UI.Models.EditPersoanaFizicaDetailsModel

@{
    ViewBag.Title = "Editeaza Detalii Cont";
    Layout = "_LayoutB5";
}

<div class="container">

    @Html.Partial("_MenuUserProfileB5")
    <div class="col-xs-12">
@*  TODO fix     
    @using (Html.BeginForm("EditPersoanaFizicaUserprofile", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.UserCreateDate)

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">

            <div>
                Email: @Model.UserName - membru din @Model.UserCreateDate.Value.ToString("dd/MM/yyyy")
            </div>

            <div class="form-group col-xs-12 floating-label-form-group controls" style="margin-top: 5px">
                <label>Nume + Prenume</label>
                @Html.TextBoxFor(model => model.NumeComplet, new { title = "Introduceti numele", placeholder = "Numele tau complet", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumeComplet)
            </div>
            <div class="form-group col-xs-12 floating-label-form-group controls" style="margin-top: 5px">
                <label>Telefon</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new { title = "Introduceti numarul dumneavoastra de telefon", placeholder = "Telefon", type = "tel", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <div class="form-check my-4">
                <input class="form-check-input" type="checkbox" value="@(Model.AbonatLaNewsLetter ? "true" : "false")" id="AbonatLaNewsLetter" name="AbonatLaNewsLetter">
                <label class="form-check-label" for="AbonatLaNewsLetter">
                    Abonat la newsletter
                </label>
            </div>

        </div>

            <div class="panel panel-success">
                <div class="panel-body">

                    <div class="form-group col-xs-12">
                        <label>Nu esti @Model.TipVanzator ? Selecteaza profilul tau:</label>
                    </div>

                    <div class="editor-field">
                        <div id="tipVanzatorSelectBox" class="selectBoxSimulator dropdown" style="margin-bottom: 10px">
                            <input type="hidden" id="TipVanzatorSelect" name="TipVanzator" value="@Model.TipVanzator" />
                            <select id="tipVanzatorSelectBox" class="form-select" aria-label="Tip vânzător">
                                @foreach (TipVanzator tipVanzator in Enum.GetValues(typeof(TipVanzator)).Cast<TipVanzator>().Except(new[] { TipVanzator.TotiVanzatorii }))
                                {
                                    <option data-listvalue="@tipVanzator">@tipVanzator</option>
                                }
                            </select>

                        </div>
                    </div>

                    <div id="agentieImobiliaraDiv" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
                        <div class="col-md-6">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nume agentie</label>
                                @Html.TextBoxFor(model => model.NumeAgentieImobiliara, new { title = "Introduceti numele agentiei imobiliare", placeholder = "Nume agentie", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NumeAgentieImobiliara)
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="clearfix"></div>
                            <div>
                                <input id="ProfileImage" type="file" name="ProfileImage" style="opacity: 0" />
                            </div>
                            <div style="display: inline-block" id="filesInfo">

                            </div>
                            <div style="display: inline-block" onclick="$('#ProfileImage').click()">
                                <button id="SelectLogoButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Selectează logo firmă</button>
                            </div>
                        </div>
                        <hr class="hidden-md hidden-lg" />
                        <div class="col-md-6">
                            <p>Este important sa incarcati o imagine pentru agentia imobiliara pentru o mai buna promovare a anunturilor. Logo-ul firmei va apărea in dreptul anunțului, de exemplu:</p>
                            <img src="~/Images/DecorationImages/logoCompanieExemplu.JPG" />
                        </div>
                    </div>



                </div>
            </div>

            if (Model.TrustedUser)
            {
                <h3>
                    <span class="glyphicon glyphicon-star"></span>Utilizator de incredere
                </h3>
            }

            <p>
                <button type="submit" class="btn btn-primary my-4"><span class="bi bi-save"></span> Salvează</button>
            </p>
            <br />
        }*@
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ($("#TipVanzatorSelect").val() != "AgentieImobiliara" && $("#TipVanzatorSelect").val() != "Constructor") {
                $("#agentieImobiliaraDiv").css({ "display": "none" });
            }

            $('#tipVanzatorSelectBox').change(function () {
                //var value = $(this).val();

                var value = $("#tipVanzatorSelectBox option:selected").text();

                var isPf = value.indexOf('Persoan') !== -1;
                if (isPf) {
                    $("#agentieImobiliaraDiv").fadeOut();
                } else {
                    $("#agentieImobiliaraDiv").fadeIn();
                }

                $('#TipVanzatorSelect').val(value);
            });

            //$("#tipVanzatorSelectBox li").click(function () {
            //    if ($(this).data("listvalue") == "AgentieImobiliara" || $(this).data("listvalue") == "Constructor") {
            //        $("#agentieImobiliaraDiv").fadeIn();
            //    } else {
            //        $("#agentieImobiliaraDiv").fadeOut();
            //    }
            //});

            //disable button once clicked
            $('#submitButton').on("click", function () {
                $('#submitButton').hide();
                $('#loadingGif').show();
            });
        });
    </script>
    <script>
        //Preview Image
        window.onload = init;

        function init() {
            document.getElementById('ProfileImage').addEventListener('change', fileSelect, false);
        }

        function fileSelect(evt) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var files = evt.target.files;

                var result = '';
                var file;
                for (var i = 0; file = files[i]; i++) {
                    // if the file is not an image, continue
                    if (!file.type.match('image.*')) {
                        alert("Va rugam selectati o imagine(.jpg .png)");
                        continue;
                    }

                    reader = new FileReader();
                    reader.onload = (function (tFile) {
                        return function (evt) {

                            var div = document.createElement('div');
                            div.innerHTML = '<img style="width: 90px;" src="' + evt.target.result + '" />';
                            document.getElementById('filesInfo').innerHTML = "";
                            document.getElementById('filesInfo').appendChild(div);
                            $("#SelectLogoButton").html('Schimbă logo firmă');
                        };
                    }(file));
                    reader.readAsDataURL(file);
                }
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        }
    </script>

    @*    @Scripts.Render("~/bundles/jqueryval")*@
}