@using System.Linq
@using Imobiliare.UI.BusinessLayer
@using Imobiliare.Entities
@using Imobiliare.UI.Utils.UrlSeoFormatters
@model Imobiliare.UI.Models.ImobilsData

<style>
    .anuntBox {
        box-shadow: 0 2px 8px 0 #888888;
    }

    /*    .anuntBox > img{
        height: 250px;
    }*/
</style>

@helper DisplayAnunt(Imobil anunt, string anuntUrl, List<string> anunturiSalvate)
{
    <a href="@anuntUrl" class="anuntBox row linkDiv my-4" style="@(anunt.PromotedLevel > PromovatLevel.Nepromovat ? "background-color:#EEFFE0" : "")">
        <div class="col-sm-5 g-0">
            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Imagini, anunt.TipProprietate, anunt.TipOfertaGen))
            {
                <div style="display: inline-block; position: relative; width: 100%">

                    <img class="center-cropped" style="height: 220px; cursor: pointer" onclick="window.location = '@anuntUrl'" alt="@HtmlHelpers.RemoveSpecialCharacters(anunt.Title, ' ', false)"
                         src="~/Images/uploadedPhotos/@anunt.FirstPhoto" />
                    @if (anunt.Poze != null)
                    {
                        <div style="position: absolute; top: 7px; left: 8px; opacity: 0.8; width: 40px; background-color: #fff; font-weight: bold; font-size: 11px;">
                            <span style="padding-left: 7px" class="bi bi-camera"></span>
                            <b style="padding-left: 2px; font-size: 1.2em">@anunt.Poze.Split(';').Count()</b>
                        </div>
                    }

                    @if (anunt.UserProfile.Agentie != null && !string.IsNullOrEmpty(anunt.UserProfile.Agentie.PozaAgentie) &&
                         anunt.UserProfile.Role != Role.Administrator && anunt.TipVanzator == TipVanzator.AgentieImobiliara)
                    {
                        <div style="position: absolute; cursor: pointer; top: 175px; left: 10px; height: 50px; text-align: center;"
                             onclick="var url = '@Url.Action("AnunturiUtilizator", "Anunturi", new {userId = anunt.UserId})';window.location = url;">
                            <img class="img-thumbnail" style="max-height: 40px; max-width: 50px; vertical-align: middle;" src="~/Images/LogoAgentii/@anunt.UserProfile.Agentie.PozaAgentie" alt="agentie imobiliara logo" />
                        </div>
                    }
                </div>
            }
        </div>

        <div class="col-xs-12 col-sm-7" style="overflow: hidden">
            <div>
                <div class="col-xs-12">
                    <div>
                        @if (anunt.DataAdaugareInitiala.AddDays(14) > DateTime.Now)
                        {
                            <span class="badge bg-primary">nou</span>
                        }

                        @if (anunt.PromotedLevel > PromovatLevel.Nepromovat)
                        {
                            <span class="badge bg-primary"><span class="bi bi-star"></span>promovat</span>
                        }

                        @*<h3 style="margin-top: 8px; display: inline-block" title="@anunt.Title">@anunt.Title</h3>*@
                    </div>
                </div>
            </div>

            <div class="col-xs-12 d-flex">
                <div>
                    <div style="white-space: nowrap; overflow: hidden">

                        <p style="margin-top: 8px; display: inline-block" title="@anunt.Title"><i class="bi bi-building"></i> @TipOfertaDisplayFormatter.GetDisplayString(anunt.TipProprietate, anunt.TipOfertaGen)</p>

                        <p>
                            @Html.DisplayFor(model => anunt.Judet.Nume), @Html.DisplayFor(model => anunt.Oras.Nume)
                            @if (anunt.Cartier != null)
                            {
                                @:, @Html.DisplayFor(model => anunt.Cartier.Nume)
                            }
                        </p>

                        @if (anunt.TipVanzator == TipVanzator.PersoanaFizica)
                        {
                            <p style="margin: 5px 0 0 0; overflow: hidden; white-space: nowrap">Persoană Fizică</p>
                        }
                        else
                        {
                            if (anunt.TipVanzator == TipVanzator.AgentieImobiliara)
                            {
                                <p style="margin: 5px 0 0 0; overflow: hidden; white-space: nowrap">Ag imobiliară</p>
                            }
                            else if (anunt.TipVanzator == TipVanzator.Constructor)
                            {
                                <p style="margin: 5px 0 0 0; overflow: hidden; white-space: nowrap">Constructor</p>
                            }
                        }


                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="align-content-end">
                    <h3>@Html.DisplayFor(model => anunt.Price) €</h3>
                    <p>
                        <b><i class="bi bi-layers"></i> @Html.DisplayFor(model => anunt.Suprafata)</b> m²
                    </p>


                    @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.NumarCamere, anunt.TipProprietate, anunt.TipOfertaGen) &&
                         anunt.NumarCamere > 0)
                    {
                        <p>
                            <b>@Html.DisplayFor(model => anunt.NumarCamere) Camere</b>
                        </p>
                    }


                </div>
            </div>
        </div>
    </a>
}

@if (Model.Imobils.Any())
{
    var anunturiSalvate = new List<string>();
    var anunturiSalvateCookie = Request.Cookies["AnunturiSalvate"];
    if (anunturiSalvateCookie != null)
    {
        var formattedCookie = anunturiSalvateCookie.Value.Replace("%2C", ",");
        anunturiSalvate = new List<string>(formattedCookie.Split(','));
    }

    var randomPromovatedAnunturiIndex = 0;
    if (Model.PromovatedImobils.Count > 0)
    {
        randomPromovatedAnunturiIndex = new Random().Next(0, Model.Imobils.Count);
    }

    foreach (var anunt in Model.Imobils)
    {
        var anuntUrl = UrlBuilder.BuildAnuntPageUrl(anunt.Oras.Nume, anunt.TipProprietate, anunt.TipOfertaGen, anunt.Title, anunt.Id);
        //Show google ad inline if more than 6 anunturi at position 5
        var index = Model.Imobils.FindIndex(a => a == anunt);
        if (!Request.Url.AbsoluteUri.Contains("localhost") && Model.Imobils.Count > 6 && index == 5)
        {
            <div style="margin: 20px 0">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Ap 25 Reclama anunturi / categorii -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1474334984782094"
                     data-ad-slot="5459285763"
                     data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        }
        if (Model.PromovatedImobils.Count > 0 && index == randomPromovatedAnunturiIndex)
        {
            foreach (var promoAnunt in Model.PromovatedImobils)
            {
                anuntUrl = UrlBuilder.BuildAnuntPageUrl(promoAnunt.Oras.Nume, promoAnunt.TipProprietate, promoAnunt.TipOfertaGen, promoAnunt.Title, promoAnunt.Id);
                @DisplayAnunt(promoAnunt, anuntUrl, anunturiSalvate)
            }
        }

        bool any = false;
        foreach (var x in Model.PromovatedImobils)
        {
            if (x.Id == anunt.Id)
            {
                any = true;
                break;
            }
        }
        if (!(any))
        {
            @DisplayAnunt(anunt, anuntUrl, anunturiSalvate)
        }
    }
}
else
{
    <h3 class="alert alert-warning">Nu exista anunturi pentru criteriile selectate.</h3>
    <br />

    if(Model.TotalSelectableOrasesWithNumber != null)
    {

    var numarAnunturi = 0;
    foreach (var oras in Model.TotalSelectableOrasesWithNumber)
    {
        numarAnunturi += oras.Value;
    }
    var judet = Model.Judets.First(x => x.Id == Model.ImobilFilter.JudetId);
    var judetName = judet.Nume;
    if (Model.TotalSelectableOrasesWithNumber.Count(x => x.Value != 0) != 0)
    {
        @Html.ActionLink("Arată toate anunțurile pentru județul " + @judetName + " (" + @numarAnunturi + ")", "SelectJudet", "Home", new { judetName = @judetName }, new { @class = "actionLinkButton" })
        <br />
        <br />
        foreach (var oras in Model.TotalSelectableOrasesWithNumber.OrderByDescending(x => x.Value).Where(x => x.Value > 0))
        {
            @*<h3>@Html.ActionLink(@oras.Key.Nume + " (" + @oras.Value + " Anunturi)", "SearchForValue", "Home", new { searchValue = @oras.Key.Nume + " | " + @judet.PrescurtareAuto, tipOferta1 = "Toate", tipOfertaGen = "Toate" }, new { @class = "needToAddInOrderParameterToWork" })</h3>*@
            <p><a href="@UrlBuilder.BuildLocalitateUrl(oras.Key.Nume, oras.Key.Judet.Nume)">@oras.Key.Nume <span class="badge bg-secondary">@oras.Value</span> <small>Anunturi</small></a></p>
        }
    }
    else
    {
        <h3>Nu exista anunturi pentru judetul @judetName.</h3>
        <br />
        <div class="btn btn-primary">
            <span class="bi bi-pin"></span>
            @Html.ActionLink("Adauga Anunt Gratuit", "AnuntEditare", "Administrare", null, new { style = "color: white; font-weight: bold; text-decoration: none" })
        </div>
    }
    }
}