<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("nextprev", required: false)

    <style>
        .availableJudet {
            display: inline-block;
            width: 135px;
            padding-left: 20px;
        }

            .availableJudet:hover {
                color: #5EAB1F;
            }

        #footer {
            position: fixed;
            right: 5px;
            bottom: 5px;
            background: #d3d3d3;
            text-align: center;
            color: #042E64;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: bold;
            text-shadow: 0 1px 0 #84BAFF;
            box-shadow: 0 0 15px #00214B;
            display: none;
        }

        .black_overlay_anunturi_salvate {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.4;
            opacity: .40;
            filter: alpha(opacity=40);
        }

        .white_content_anunturi_salvate {
            display: none;
            position: fixed;
            bottom: 15%;
            right: 0;
            width: 21%;
            height: 66%;
            padding: 5px;
            border: 5px solid #a7d582;
            background-color: white;
            z-index: 1002;
            overflow: auto;
            opacity: 0.9;
        }

        /*Important: for links reference a whole container*/
        .link-spanner {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            /*z-index: 1;*/
        }

        .anchor-link-spanner, .anchor-link-spanner:hover {
            text-decoration: none;
            background-color: inherit;
            /*Marginea aceea vizibila*/
            padding: 0;
        }

        #footerStatus {
            position: fixed;
            /*z-index: -1;*/
            bottom: 0;
            width: 100%;
            padding-bottom: 15px;
            margin-bottom: 0;
            text-align: center;
            display: none;
            opacity: 0.9; /* Fallback for web browsers that doesn't support RGBa */
        }

        #cookieHeader {
            margin-bottom: 0;
            padding-top: 4px;
            padding-right: 20px;
            padding-bottom: 4px;
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <div id="cookieHeader" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            apartamente24.ro folosește cookies. Continuarea navigării se consideră acceptare a @Html.ActionLink("politicii de utilizare", "DespreCookies", "Home") a cookies. <strong id="AcceptCookies" style="cursor: pointer; text-decoration: underline">Acceptați</strong>
        </div>
        @*<p id="something"></p>*@
        <div class="navbar navbar-default navbar-inverse" style="margin-bottom: 5px; min-height: 45px">
            <nav class="container">
                <div class="navbar-header">
                    <button type="button" class="pull-left navbar-toggle" style="margin-left: 5px" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="pull-right visible-xs" style="padding: 6px 0 0 8px; color: white; font-size: 1.1em; font-weight: bold; text-decoration: none">
                        <div class="btn btn-success">
                            <a href="@Url.Action("Index", "Home")">
                                <span class="glyphicon glyphicon-search" style="color: white; font-size: 1.1em; font-weight: bold; text-decoration: none"></span>
                            </a>
                        </div>
                        <div class="btn btn-success">
                            @*<span class="glyphicon glyphicon-plus"></span>
                                @Html.ActionLink("Adaugă Anunț", "ApartamentAdaugare", "Administrare", null, new {style = "color: white; font-size: 1.1em; font-weight: bold; text-decoration: none"})*@
                            <a href="@Url.Action("AdaugareAnunt", "Home")">
                                <span class="glyphicon glyphicon-plus" style="color: white; font-size: 1.1em; font-weight: bold; text-decoration: none"></span>
                                @*<span style="color: white; font-size: 1.1em; font-weight: bold; text-decoration: none">Adaugă Anunț</span>*@
                            </a>
                        </div>
                        <div class="btn btn-success">
                            <a href="@Url.Action("EditUserDetails", "Manage")">
                                <span class="glyphicon glyphicon-user" style="color: white; font-size: 1.1em; font-weight: bold; text-decoration: none"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Index", "Home")" style="padding-top: 7px; padding-bottom: 7px" title="Cauta anunturi imobiliare"><span class="glyphicon glyphicon-search"></span>&nbsp;Caută</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AdaugareAnunt", "Home")" style="padding-top: 7px; padding-bottom: 7px" title="Adauga anunt GRATUIT"><span class="glyphicon glyphicon-plus-sign red"></span>&nbsp;Adaugă Anunț</a>
                        </li>

                        <li>@Html.ActionLink("Anunțurile mele", "Index", "Administrare", null, new { title = "Administreaza anunturile tale" })</li>
                        @{
                          if (User.Identity.IsAuthenticated)
                          {
                              var isInRole = User.IsInRole("Admin");
                          }
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                        <li>@Html.ActionLink("Admin", "Index", "SuperAdmin")</li>
                            <li class="visible-xs">@Html.ActionLink("Contul meu", "Index", "Manage")</li>

                            //Seems to work only this way with post
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm2" }))
                            {
                            @Html.AntiForgeryToken()
                            }
                        <li class="visible-xs"><a href="javascript:document.getElementById('logoutForm2').submit()">Log off</a></li>
                        }
                        else
                        {
                        <li class="visible-xs">@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

        @*<div class="container hidden-xs">
            <div class="row">
                <div class="col-sm-7" style="vertical-align: top">
                    <a class="anchor-link-spanner" href="@Url.Action("Index", "Home")"><img style="width: 300px" src="~/Images/DecorationImages/apartamente24.png" alt="apartamente romania 24" /></a>
                </div>
                <div id="loginDiv" class="col-sm-6" style="vertical-align: top; max-width: 225px; float: right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </div>*@
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <div class="visible-xs" style="background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75); border-radius: 2px; width: 200px; display: block; margin: 0 auto; text-align:center">
            <a class="anchor-link-spanner" href="@Url.Action("Index", "Home")" style="background-color:rgba(255, 255, 255, 0.1);"><img style="width: 190px" src="~/Images/DecorationImages/apartamente24.png" alt="Anunturi Imobiliare Romania" /></a>
        </div>
        <section class="main-content clear-fix container" style="width: 100%">
            @if (ViewBag.Message != null)
            {
            <h2 class="alert alert-success"><span class="glyphicon glyphicon-ok-circle"></span> @ViewBag.Message</h2>
            }
            @if (TempData["Message"] != null)
            {
            <h2 class="alert alert-success" style="color: #1885F0"><span class="glyphicon glyphicon-ok-circle"></span> @TempData["Message"]</h2>
                <br />
            }
            @if (TempData["WarningMessage"] != null)
            {
            <h2 class="alert alert-warning" style="color: #1885F0"><span class="glyphicon glyphicon-info-sign"></span> @TempData["WarningMessage"]</h2>
                <br />
            }
            @if (TempData["ErrorMessage"] != null)
            {
            <h2 class="alert alert-danger" style="color: #1885F0"><span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["ErrorMessage"]</h2>
                <br />
            }
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container" style="text-align: left">
            <div>
                <p>&copy; @DateTime.Now.Year - apartamente24.ro</p>
                <p style="display: inline-block; text-decoration: underline; padding-right: 5px;">@Html.ActionLink("Contact", "Contact", "Home")</p>
                <p style="display: inline-block; text-decoration: underline; padding-right: 5px;">@Html.ActionLink("Termeni și condiții de utilizare", "TermenisiConditii", "Home")</p>
                <p style="display: inline-block; text-decoration: underline; padding-right: 5px;">@Html.ActionLink("Cookies", "DespreCookies", "Home")</p>
                <p style="display: inline-block; text-decoration: underline">@Html.ActionLink("Despre", "Despre", "Home")</p>
            </div>
            <div>
                <p class="hidden-xs">
                    Ce este <b style="cursor: pointer" onclick="var url = '@Url.Action("Index", "Home")'; window.location.href = url;">apartamente24.ro</b>? <b>apartamente24.ro</b> este un site de anunțuri imobiliare care vă ajută să vindeți sau să cumpărați orice tip de oferte imobiliare.
                    Cum? Dându-vă posibilitatea de a adăuga anunțuri <b>GRATUITE</b> astfel încât să găsiți un cumpărător. Pentru cumpărători vă oferim o gamă
                    variată de anunțuri imobiliare astfel încât sa găsiți proprietatea dorită. Pentru Vânzători vă oferim posibilitatea de a adăuga anunțuri
                    cât mai detaliate, fie că sunteți persoană fizică, fie agenție imobiliară.
                </p>
                <p>
                    De ce să adaugi un anunț pe <b>apartamente24.ro</b>? Deoarece este absolut gratuit, adăugarea de anunțuri este cât se poate de simplă, iar conținutul site-ului este
                    cât mai intuitiv posibil.
                </p>
            </div>
            <br />
            <div>
                <img style="width: 275px" src="~/Images/DecorationImages/apartamente24_jos.png" />
                <br />
                <br />
            </div>
        </div>
    </footer>

    <div id="footer">
        <button style="display: inline-block; margin: 10px 0 10px 0" class="anunutiSalvateNumber btn btn-success">Anunturi salvate</button>
    </div>
    <div id="fadeLayout" class="black_overlay_anunturi_salvate"></div>
    <div id="anunturiSalvate" class="white_content_anunturi_salvate">
    </div>

    @if (TempData["FooterStatus"] != null)
    {
    <div id="footerStatus" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@TempData["FooterStatus"]</strong>
    </div>
    }


    @*-----------------------------------------Scripts-----------------------------------------------------*@
    @Scripts.Render("~/bundles/jquery")

    <script>
        //Globally accessible(can remove var to be globally accessible and remove from here, but to be more readable...)
        var anunturiSalvateList;
        var cautariSalvateList;
        $(document).ready(function () {
            var checkCookieAcceptState = function () {
                var cookieAccepted = $.cookie("cookieAccepted");
                if (cookieAccepted) {
                    //alert("cookie accepted");
                    //$("#cookieHeader").hide();
                } else {
                    $("#cookieHeader").show();
                    //alert("cookie NOT accepted");
                }
            };
            initializeBindings();

            checkCookieAcceptState();
            $("#AcceptCookies").on("click", function () {
                $.cookie('cookieAccepted', "true", { expires: 30, path: '/' });
                $("#cookieHeader").hide();
            });
        });

        //unbind -> events before binding them every time on init(because of ajax async loading)
        function initializeBindings() {
            $('.searchBox').keydown(function (e) {
                if (e.keyCode == 13)
                    $('.searchButton').click();
            });

            $(".searchButton").unbind('click').on("click", function () {
                if ($(".searchBox").val() == "Introduceti Localitate") {
                    alert("Introduceti numele unei localitati!");
                } else {
                    //set cookie with searched value
                    $.cookie('cookieLastSearchedLocalitate', $(".searchBox").val(), { expires: 30, path: '/' });

                    var url = '@Url.Action("SearchForValue", "Home", new { searchValue = "__id__", tipOferta1 = "__tip__" })';
                    var tempPath = url.replace(/__id__/g, $(".searchBox").val());
                    //&amp seems to be a general problema when passing params, therefore replace with simple &
                    var finalPath = tempPath.replace(/&amp;tipOferta1=__tip__/g, "&tipOferta1=" + $(".TipOfertaSelect").val());
                    window.location.href = finalPath;
                }
            });

            $(document).mousedown(function(e) {
                var container7 = $(".localitatiSearchResult");
                if (!container7.is(e.target) // if the target of the click isn't the container...
                    && container7.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    if (container7.css('display') != 'none') {
                        container7.hide();
                    }
                }
            });

            var typingTimer;
            var doneTypingInterval = 500;
            var pressedKey;

            //user is "finished typing," do something
            function doneTyping() {

                //On backspace check if value is less than 2 characters, postback only in case
                if (pressedKey == '8') {
                    if ($(".searchBox").val().length < 2) {
                        $(".localitatiSearchResult").html("");
                        $(".localitatiSearchResult").hide();
                        return;
                    }
                }

                //alert(String.fromCharCode(e.which) + "code: " + e.which);
                if ($(".searchBox").val().length > 0) {
                    var searchValue = $(".searchBox").val();

                    //In caz de backspace
                    if (pressedKey == '8') {
                        searchValue = $(".searchBox").val();
                    }

                    //Show all (tot judetul) results only on searching, not also on adding location
                    var includingTotJudetul = false;
                    if ($(".searchButton").length) {
                        includingTotJudetul = true;
                    }

                    $.ajax({
                        url: '@Url.Action("LocationSearchResults", "Home")',
                        dataType: 'json',
                        async: false,
                        data: { searchText: searchValue, includingTotJudet: includingTotJudetul },
                        success: function (orase) {
                            $(".localitatiSearchResult").html("");
                            $(".localitatiSearchResult").show();
                            if (orase.length > 0) {
                                for (var index = 0; index < orase.length; ++index) {
                                    var splitString = orase[index].split('|');
                                    var oras = splitString[1];

                                    //(totJudetul)
                                    if (splitString[2]) {
                                        oras += " | " + splitString[2];
                                    }

                                    var orasId = splitString[0];

                                    $(".localitatiSearchResult").append('<li style="cursor:pointer" data-orasid = "' + orasId + '" data-val = "' + oras + '"><span style="padding: 8px 0 9px 0; cursor:pointer" class="glyphicon glyphicon-map-marker"></span>  ' + oras + '</li>');
                                }
                                $(".localitatiSearchResult").show();

                                $(".localitatiSearchResult li").on("click", function () {
                                    //If on searching
                                    if ($(".searchButton").length){
                                        $(".searchBox").val($(this).data("val"));
                                        $(".searchButton").click();
                                    }
                                    //If on adaugare
                                    else {
                                        $(".localitatiSearchResult").hide();
                                        $(".searchBox").val($(this).data("val"));
                                        $("#OrasSelect").val($(this).data("orasid"));
                                        updateCartiere($(this).data("orasid"));
                                        $(".searchBox").prop('disabled', true);
                                        $(".schimbaLocalitateButton").show();
                                    }
                                });
                            } else {
                                $(".localitatiSearchResult").hide();
                            }
                        }
                    });
                }
            }

            function updateCartiere(orasid) {
                if (orasid != null && orasid != '') {
                    $.getJSON('@Url.Action("Cartiere", "Home")', { orasId: orasid }, function (months) {
                        var cartierSelect = $('#CartierSelect');
                        cartierSelect.empty();
                        if (months.length !== 0) {
                            $.each(months, function (index, month) {
                                cartierSelect.append($('<option/>', {
                                    value: month.CartierId,
                                    text: month.Nume
                                }));
                            });
                            $('#cartierSelectDiv').fadeOut('fast');
                            $('#cartierSelectDiv').fadeIn('slow');
                            $('#cartierSelectDiv').fadeIn('slow');
                        } else {
                            $('#cartierSelectDiv').hide();
                        }
                        //$.cookie('SelectedOras', selectedOras, { expires: 7 });
                    });
                }
            }

            $(".schimbaLocalitateButton").on("click", function () {
                $(".searchBox").val("");
                $("#OrasSelect").val("");
                $(".searchBox").prop('disabled', false);
                $(".schimbaLocalitateButton").hide();
                $('#CartierSelect').empty();
                $('#cartierSelectDiv').hide();
            });

            //keydown to work on touchscreen devices
            $(".searchBox").keydown(function (e) {
                pressedKey = e.which;
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            anunturiSalvateList = new CookieList("AnunturiSalvate");
            cautariSalvateList = new CookieList("CautariSalvate");

            if (anunturiSalvateList.items().length > 0) {
                $("#footer").show();
                $("#anunturiSalvateHeaderImage").toggleClass('red');
                $(".anunutiSalvateNumber").text("Anunturi Salvate " + anunturiSalvateList.items().length);
                $("#anunturiSalvateHeaderText").text(anunturiSalvateList.items().length + " Salvate");
            }

            if (cautariSalvateList.items().length > 0) {
                $("#cautariSalvateHeaderImage").addClass('red');
                $("#salvareCautareStar").addClass('red');
                $("#cautariSalvateHeaderText").text(cautariSalvateList.items().length + "Căutări");
            }

            $(".salveazaAnunt").unbind('click').on("click", function () {
                if (anunturiSalvateList.items().length == 20) {
                    alert("Limita maximă de anunțuri salvate(20) atinsă! Vă rugăm ștergeți unele dintre anunțurile salvate pentru a salva altele noi.");
                    return;
                }
                var value = $(this).closest(".descriereApartament").find(".imobilIdClass").text();
                if (($(this).find("span").hasClass('red'))) {
                    $(this).find("p").text("Salvează");
                    anunturiSalvateList.remove(value);
                } else {
                    $(this).find("p").text("Salvat");
                    anunturiSalvateList.add(value);
                    $("#anunturiSalvateHeaderImage").addClass('red');
                }
                $(".anunutiSalvateNumber").text("Anunturi Salvate " + anunturiSalvateList.items().length);
                $("#anunturiSalvateHeaderText").text(anunturiSalvateList.items().length + " Salvate");

                $(this).find("span").toggleClass('red');
                $("#footer").show();
                $("#footer").stop(true);
                $("#footer").effect("pulsate", null, 100, null);
                $(".anunutiSalvateHeader").effect("pulsate", null, 100, null);
            });

            $("#SalveazaCautareButton").unbind('click').on("click", function () {
                if (cautariSalvateList.items().length == 5) {
                    alert("Limita maximă de căutari salvate(5) atinsă! Vă rugăm ștergeți unele dintre căutările salvate pentru a salva altele noi.");
                    return;
                }
                var parameterStartIndex = window.location.href.indexOf("judet-");
                cautariSalvateList.add(window.location.href.substring(parameterStartIndex, window.location.href.length));
                updateSavedCautari();

                $("#cautariSalvateHeaderText").text(cautariSalvateList.items().length + "Căutări");
                $("#cautariSalvateHeaderImage").addClass('red');
                $("#salvareCautareStar").addClass('red');
                $("#cautariHeaderImage").effect("pulsate", null, 100, null);
            });

            $(".anunutiSalvateNumber").unbind('click').on("click", updateSavedAnunturi);
            $(".anunutiSalvateHeader").unbind('click').on("click", updateSavedAnunturi);
            $("#cautariHeaderImage").unbind('click').on("click", updateSavedCautari);

            $("#fadeLayout").unbind('click').on("click", function () {
                $("#anunturiSalvate").hide();
                $("#fadeLayout").hide();
            });

            $(".selectBoxSimulator li").click(function () {
                $(this).parents('.selectBoxSimulator').find('button').html($(this).text() + "<span class=\"caret\"></span>");
                $(this).parents('.selectBoxSimulator').find('button').css("font-weight", "bold");
                $(this).parents('.selectBoxSimulator').find('input').val($(this).data("listvalue"));
                $(this).parents('.selectBoxSimulator').find('li').removeClass("selBoxSelected");
                $(this).addClass("selBoxSelected");
            });
        }

        function updateSavedCautari() {
            document.getElementById('anunturiSalvate').style.display = 'block';
            document.getElementById('fadeLayout').style.display = 'block';
            $("#anunturiSalvate").empty();
            if (cautariSalvateList.items().length > 0) {
                $("#anunturiSalvate").append("<div style=\"cursor: pointer; margin-bottom: 7px\" onclick=\"document.getElementById('anunturiSalvate').style.display='none'; document.getElementById('fadeLayout').style.display='none'; \"><div class = \"btn btn-info\"><span class=\"glyphicon glyphicon glyphicon-off\"></span><p style=\"display: inline-block; margin: 3px\">Inchide</p></div></div>" +
                    "<button style=\"width:215px; margin-bottom:16px\" class=\"btn btn-danger\" onclick=\" clearAllSavedCautari() \"><span class=\"glyphicon glyphicon-trash\"></span> Sterge Cautarile Salvate</button>");
            } else {
                $("#anunturiSalvate").append("<div style=\"cursor: pointer; margin-bottom: 7px\" onclick=\"document.getElementById('anunturiSalvate').style.display='none'; document.getElementById('fadeLayout').style.display='none'; \"><div class = \"btn btn-info\"><span class=\"glyphicon glyphicon glyphicon-off\"></span><p style=\"display: inline-block; margin: 3px\">Inchide</p></div></div>" +
                    "<h3>Nu aveți căutări salvate</h3><br/><h3>Pentru a salva o căutare, apăsați butonul Salvează căutarea (vezi imagine)</h3><img src=\"/Images/exempluSalvareCautare.png\" style=\"width:150px\" />");
            }
            for (var i = 0; i < cautariSalvateList.items().length ; i++) {
                if (cautariSalvateList.items()[i] === document.URL.substring(document.URL.indexOf("judet-"), document.URL.length)) {
                    $("#anunturiSalvate").append("<div class=\"alert alert-info\" style=\"cursor: pointer; margin-bottom: 0px; padding-left: 2px\"><h3 style=\"margin-top: 0px\">" + (i + 1) + ". " + cautariSalvateList.items()[i] + "</h3></div>");
                } else {
                    //alert(document.URL.substring(0, document.URL.indexOf("judet-")));
                    $("#anunturiSalvate").append("<div style=\"cursor: pointer;\" onclick=\"window.location.href = '" + "http://" + location.host + "/" + cautariSalvateList.items()[i] + "';\"><h3>" + (i + 1) + ". " + cautariSalvateList.items()[i] + "</h3></div><br/>");
                }
            }
        }

        function updateSavedAnunturi() {
            document.getElementById('anunturiSalvate').style.display = 'block';
            document.getElementById('fadeLayout').style.display = 'block';
            $("#anunturiSalvate").empty();
            $("#anunturiSalvate").append("<img src=\"/Images/preloader.gif\" width=\"40px\"\>");
            var postData = { savedIds: anunturiSalvateList.items() };
            $.ajax({
                type: "POST",
                url: "/Home/GetSavedAnunturiFromCookie",
                data: postData,
                success: function (data) {
                    $("#anunturiSalvate").empty();
                    if (data.length > 0) {
                        $("#anunturiSalvate").append("<div style=\"cursor: pointer; margin-bottom: 7px\" onclick=\"document.getElementById('anunturiSalvate').style.display='none'; document.getElementById('fadeLayout').style.display='none'; \"><div class = \"btn btn-info\"><span class=\"glyphicon glyphicon glyphicon-off\"></span><p style=\"display: inline-block; margin: 3px\">Inchide</p></div></div>" +
                            "<button style=\"margin-bottom:16px\" class=\"btn btn-danger\" onclick=\" clearAllSavedAnunturi() \"><span class=\"glyphicon glyphicon-trash\"></span> Sterge Anunturile Salvate</button>");
                    } else {
                        $("#anunturiSalvate").append("<div style=\"cursor: pointer; margin-bottom: 7px\" onclick=\"document.getElementById('anunturiSalvate').style.display='none'; document.getElementById('fadeLayout').style.display='none'; \"><div class = \"btn btn-info\"><span class=\"glyphicon glyphicon glyphicon-off\"></span><p style=\"display: inline-block; margin: 3px\">Inchide</p></div></div>" +
                            "<h3>Nu aveți anunțuri salvate</h3><br/><h3>Pentru a salva un anunț, apăsați butonul Salvează (vezi imagine)</h3><img src=\"/Images/exempluSalvareAnunt.png\" style=\"width:150px\" />");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var split = data[i].split('|');
                        $("#anunturiSalvate").append("<div style=\"height:100px; width:400px; border-bottom: 1px solid #a7d582\" onmouseover=\"this.style.background='#F9F9F9';\" onmouseout=\"this.style.background='white';\">" +
                            "<div style=\"display:inline-block; width:110px; vertical-align:top; padding-top:5px;\">" +
                            "<img height=\"80px\" style=\"cursor:pointer\" alt=\"Anunt imobiliar Salvat\" src=\"/Images/" + split[4] + "\" onclick=\" window.location = '@Url.RouteUrl("Default", new { action = "ApartamentDetalii", controller = "Home" }, Request.Url.Scheme)?imobilId=" + split[0] + "';\"/>" +
                            "</div>" +
                            "<div style=\"display:inline-block; width: 210px; white-space: nowrap; overflow: hidden;\">" +
                            "<p style=\"margin: 5px 0 2px 5px\">ID: " + split[0] + " Titlu: " + split[1] + "</p>" +
                            "<p style=\"margin: 5px 0 2px 5px\">" + split[2] + ", " + split[3] + "</p>" +
                            //Use Url.RouteUrl http://stackoverflow.com/questions/19814160/url-action-combines-previous-url-with-current-route-parameters-in-javascript-in
                            "<button class=\"ViewAnuntSalvatButton btn btn-success\" onclick=\" window.location = '@Url.RouteUrl("Default", new { action = "ApartamentDetalii", controller = "Home" }, Request.Url.Scheme)?imobilId=" + split[0] + "';\">Arata</button>" +
                            "<button class=\"EliminaAnuntSalvatButton btn btn-danger\" onclick=\"stergeAnuntSalvat(" + split[0] + ")\"><img src=\"/Images/close_black.png\" \></button>" +
                            "</div>" +
                            "</div>");
                    }
                },
                error: function () {
                    $("#anunturiSalvate").empty();
                    $("#anunturiSalvate").append("<div style=\"cursor: pointer; margin-bottom: 7px\" onclick=\"document.getElementById('anunturiSalvate').style.display='none'; document.getElementById('fadeLayout').style.display='none'; \"><div class = \"btn btn-info\"><span class=\"glyphicon glyphicon glyphicon-off\"></span><h3 style=\"display: inline-block; margin: 3px\">Inchide</h3></div></div>" +
                        "<h3><span class=\"glyphicon glyphicon-info-sign \"></span>A aparut o eroare la incarcarea anunturilor salvate</h3>");
                },
                dataType: "json",
                traditional: true
            });
        }

        function clearAllSavedAnunturi() {
            anunturiSalvateList.clear();
            $(".anunutiSalvateNumber").text("Anunturi Salvate " + anunturiSalvateList.items().length);
            $("#anunturiSalvateHeaderText").text("Salvate");
            $("#anunturiSalvateHeaderImage").removeClass('red');
            $(".salveazaAnunt").find("span").removeClass('red');
            $(".salveazaAnunt").find("p").text("Salveaza");
            $("#footer").hide();
            updateSavedAnunturi();
        }

        function clearAllSavedCautari() {
            cautariSalvateList.clear();
            $("#cautariSalvateHeaderImage").removeClass('red');
            $("#salvareCautareStar").removeClass('red');
            $("#cautariSalvateHeaderText").text("Căutări");
            updateSavedCautari();
        }

        function stergeAnuntSalvat(id) {
            anunturiSalvateList.remove(id.toString());
            $(".anunutiSalvateNumber").text("Anunturi Salvate " + anunturiSalvateList.items().length);
            $("#anunturiSalvateHeaderText").text(anunturiSalvateList.items().length + " Salvate");

            //Search if on page to deselect
            var saved = $(".imobilIdClass").filter(function () {
                return $(this).text() == id;
            });
            if (saved.length > 0) {
                saved.parent().find(".salveazaAnunt p").text('Salvează');
                saved.parent().find(".salveazaAnunt span").toggleClass('red');
            }
            updateSavedAnunturi();
        }

        //http://stackoverflow.com/questions/1959455/how-to-store-an-array-in-jquery-cookie
        //http://www.jibbering.com/faq/faq_notes/closures.html
        var CookieList = function (cookieName) {
            //When the cookie is saved the items will be a comma seperated string
            var cookie = $.cookie(cookieName);
            var items = cookie ? cookie.split(/,/) : new Array();

            return {
                "add": function (val) {
                    //remove null after list is initialised
                    var nullIndex = items.indexOf("null");
                    if (nullIndex != -1) {
                        items.splice(nullIndex, 1);
                    }
                    //do not add duplicates
                    if (items.indexOf(val) == -1) {
                        items.push(val);
                        $.cookie(cookieName, items.join(','), { expires: 7, path: '/' });
                    }
                },
                "remove": function (val) {
                    var indx = items.indexOf(val);
                    if (indx != -1) items.splice(indx, 1);
                    $.cookie(cookieName, items.join(','), { expires: 7, path: '/' });
                },
                "clear": function () {
                    items = new Array();
                    $.cookie(cookieName, items.join(','), { expires: 7, path: '/' });
                },
                "items": function () {
                    //remove null after list is initialised
                    var nullIndex = items.indexOf("null");
                    if (nullIndex != -1) {
                        items.splice(nullIndex, 1);
                    }
                    return items;
                }
            };
        };

        function inputFocus(i) {
            if (i.value == i.defaultValue) {
                i.value = ""; i.style.color = "#000";
            }
            else {
                i.style.color = "#000";
            }
        }
        function inputBlur(i) {
            if (i.value == "") { i.value = i.defaultValue; i.style.color = "#c3c3c3"; } else {
                i.style.color = "#c3c3c3";
            }
        }

        function initializePaging(numberOfPages, selectedPage) {
            var innerHtml = '';
            if (selectedPage > 1) {
                innerHtml = '<li><span style="cursor:pointer"><<</span></li>';
            }
            if (numberOfPages < 10) {
                for (var page = 1; page <= numberOfPages; page++) {
                    if (page == selectedPage) {
                        innerHtml += '<li class="active"><span style="background-color: #5CB85C">' + page + '</span></li>';
                    } else {
                        innerHtml += '<li><span style="cursor:pointer">' + page + '</span></li>';
                    }
                }
            } else {
                var negativeValues = 0;
                for (var page2 = parseInt(selectedPage) - 4; page2 < selectedPage; page2++) {
                    if (page2 > 0) {
                        innerHtml += '<li><span style="cursor:pointer">' + page2 + '</span></li>';
                    } else {
                        negativeValues++;
                    }
                }
                innerHtml += '<li class="active"><span style="background-color: #5CB85C">' + selectedPage + '</span></li>';
                for (var page3 = parseInt(selectedPage) + 1; page3 <= parseInt(selectedPage) + 4 + negativeValues; page3++) {
                    if (page3 <= numberOfPages) {
                        innerHtml += '<li><span style="cursor:pointer">' + page3 + '</span></li>';
                    }
                }
            }


            if (numberOfPages != selectedPage) {
                innerHtml += '<li><span style="cursor:pointer">>></span></li>';
            }
            $(".pagination").html(innerHtml);
        }
    </script>

    @*google analytics script. DO NOT modify*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53397068-1', 'auto');
        ga('send', 'pageview');

    </script>

    @if (TempData["FooterStatus"] != null)
    {
    <script>
            $(document).ready(function () {
                $("#footerStatus").delay(1000).fadeIn("slow").delay(8000).fadeOut("slow");
            });

    </script>
    }

    <script>
        $(function() {
            $("body").on("input propertychange", ".floating-label-form-group", function(e) {
                $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
            }).on("focus", ".floating-label-form-group", function() {
                $(this).addClass("floating-label-form-group-with-focus");
            }).on("blur", ".floating-label-form-group", function() {
                $(this).removeClass("floating-label-form-group-with-focus");
            });

            $('.floating-label-form-group input').each(function () {
                if ($(this).val() != "") {
                    $(this).closest('div').addClass("floating-label-form-group-with-value");
                };
            });

            $('.touchCheckbox').on("click", function () {
                $(this).find("span").toggleClass("glyphicon-check glyphicon-unchecked");

                var inputval = $(this).find("input").val();
                $(this).find("input").val(inputval === "true" ? "false" : "true");
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>