@model Imobiliare.UI.Models.ExternalLoginListViewModel

@*<h3>Sau intră în cont mai simplu utilizând:</h3>
    <hr />*@
@{
    //var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    //if (loginProviders.Count() == 0)
    //{
    //    <div>
    //        <p>
    //            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
    //            for details on setting up this ASP.NET application to support logging in via external services.
    //        </p>
    //    </div>
    //}
    //else
    //{
    //    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    //    {
    //        @Html.AntiForgeryToken()
    //        <div id="socialLoginList">

    //            @foreach (AuthenticationDescription p in loginProviders.Reverse())
    //            {
    //                if (p.AuthenticationType == "Facebook")
    //                {
    //                    <button class="btn btn-light" id="@p.AuthenticationType" style="" type="submit" name="provider" value="@p.AuthenticationType" title="Inregistreaza-te folosind contul de @p.AuthenticationType">
    //                        <div>
    //                            <img style="height: 30px" src="~/Images/facebook.png" /> Facebook
    //                        </div>
    //                    </button>
    //                }
    //                else if (p.AuthenticationType == "Google")
    //                {
    //                    <button class="btn btn-light" id="@p.AuthenticationType" type="submit" name="provider" value="@p.AuthenticationType" title="Inregistreaza-te folosind contul de @p.AuthenticationType">
    //                        <div>
    //                            <img style="height: 30px" src="~/Images/google.png" /> Gmail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    //                        </div>
    //                    </button>
    //                }
    //                else
    //                {
    //                    <button id="@p.AuthenticationType" style="background: url(../../Images/facebook.png) no-repeat;" type="submit" name="provider" value="@p.AuthenticationType" title="Inregistreaza-te folosind contul de @p.AuthenticationType">@p.AuthenticationType</button>
    //                }
    //                @*<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>*@
    //            }
    //        </div>
    //    }
    //}
}