@using Imobiliare.Entities
@using Imobiliare.UI.Utils
@using Imobiliare.UI.Utils.UrlSeoFormatters
@model Imobiliare.UI.Models.AnsambluriViewModel

@{
    /**/

    ViewBag.Title = "Ansambluri Rezidentiale";
}

<div id="searchDivMainPage" style="text-align: center" class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2 container" id="MainPageSearchDiv" style="background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75); border-radius: 5px">
        <div class="row">
            <div class="col-xs-12">
                <h1>Ansambluri Rezidentiale</h1>
                @*<img class="visible-xs" style="padding-bottom: 5px; width: 270px" src="~/Images/DecorationImages/logoApartamente24Transp.png"/>*@
            </div>
        </div>
        <div id="searchDivMainPageContent" style="padding: 20px; border-radius: 5px">
            <div class="input-group" style="margin: 0 auto">
                <div style="display: inline-block; position: relative; padding-right: 5px">
                    <h3>Orasul tau</h3>
                </div>

                <div style="display: inline-block">
                    @using (Html.BeginForm("Index", "AnsambluriRezidentiale"))
                    {
                        @Html.AntiForgeryToken()

                        <div style="display: inline-block; position: relative">
                            <input type="text" autocomplete="off" style="padding: 6px; margin-right: 5px; color: #c3c3c3; font-size: 1.4em; vertical-align: middle" class="ui-corner-all searchBox highlightTextBox" value="Introduceti Localitate" onfocus="inputFocus(this)" onblur="inputBlur(this)" name="searchBox" />
                            <input type="hidden" name="OrasSelect" id="OrasSelect" value="0" />
                            <span class="searchBoxLoading glyphicon glyphicon-refresh" style="position: absolute; right: 5px; top: 2px; display: none"></span>
                            <span class="searchBoxNoResults" style="position: absolute; right: 5px; top: 2px; display: none">Nume localitate invalid</span>
                            <ul class="localitatiSearchResult"></ul>
                        </div>
                        <input type="submit" value="Caută" class="btn btn-success" style="display: inline-block; margin: 0" />
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: white">
    @if (Model.Oras != null)
    {
        <h3>Localitate: @Model.Oras.Nume</h3>
    }
    @if (Model.Ansambluri.Count != 0)
    {
        foreach (var item in Model.Ansambluri)
        {
            <div class="col-md-4" style="margin-top: 20px">
                <a href="@AnsambluriRezidentialeUrls.AnsambluRezidentialUrl(item, null)">
                    <div style="padding: 20px 10px 10px 20px">
                        <img class="center-cropped" style="height: 200px" src="~/Images/AnsambluriRezidentiale/@(!string.IsNullOrEmpty(item.Poze) ? item.Poze.Split(';')[0] : "no_picture.png")" />
                        <div style="height: 35px">
                            <h3>@item.Titlu</h3>
                            @if (item.Oras != null)
                            {
                                <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;@item.Oras.Nume</p>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }

        if (Model.NumberOfPages > 1)
        {
            using (Html.BeginForm("Index", "AnsambluriRezidentiale", FormMethod.Get, new { id = "PickForm" }))
            {
                <div class="clearfix"></div>
                <p style="margin: 10px 0 0 0">Pagina @Model.Page din @Model.NumberOfPages</p>
                <nav>
                    <ul class="pagination pagination-lg"></ul>
                </nav>
            }
        }
    }
    else
    {
        <h3>Nu s-au gasit ansambluri rezidentiale pentru criteriile selectate.</h3>
    }
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-8">
        <img style="width: 100%; max-width:452px" src="~/Images/DecorationImages/banner_ansambluri.png" />
    </div>

</div>

@section nextprev {
    @Html.Partial("_GenericNextPrev")
}

@section Scripts {
    @Html.Partial("_SearchBoxOrasFindWithRemoveScript")
    @Html.Partial("_GenericPaging")
    <script type="text/javascript">
        $(document).mousedown(function(e) {
            var container4 = $("#custom-dropdown-tipoferta");
            if (!container4.is(e.target) // if the target of the click isn't the container...
                &&
                container4.has(e.target).length === 0) // ... nor a descendant of the container
            {
                if (container4.css('display') != 'none') {
                    container4.hide();
                }
            }
        });


        $(function() {
            $('#body').css('opacity', '0.1');

            //Assuming Backgrounds between homeBackGround1->homeBackGround4(extend if new ones are added)
            $('#body').css('background-image',
                'url(' + '../../Images/DecorationImages/Ansambluri_rezidentiale.jpg' + ')');
            $('#body').css('background-repeat', 'no-repeat');
            $('#body').animate({ opacity: 1 },
                2000,
                function() {
                    $(".TipOfertaSelect").effect("highlight", {}, 1500);
                    $(".highlightTextBox").effect("highlight", {}, 3000);
                });

            $("#overlay").css({
                opacity: 0.5,
                top: 41,
                width: 830,
                height: 550
            });

            $("#img-load").css({
                top: (200),
                left: (390)
            });

            @*$("#TipOfertaSelectButton").html("@TipOfertaDisplayFormatter.GetDisplayString((TipOferta) Enum.Parse(typeof (TipOferta), ViewBag.TipOferta.ToString()))" + "<span class=\"caret\"></span>");*@
            $(".TipOfertaSelect").val("@ViewBag.TipOferta");

            $("#custom-dropdown-tipoferta li").click(function() {
                $(this).parents('#tipOfertaSelectControl').find('button').html($(this).find("p").text());
                $(this).parents('#tipOfertaSelectControl').find('button').effect("highlight", { times: 5 }, 3000);
                var selectedOferta = $(this).data("tipoferta");
                $(".TipOfertaSelect").val(selectedOferta);
                $("#custom-dropdown-tipoferta").hide();
            });

            //Set cookie with last entered localitate
            //var cookieLastSearchedLocalitate = $.cookie("cookieLastSearchedLocalitate");
            //if (cookieLastSearchedLocalitate) {
            //  $(".searchBox").val(cookieLastSearchedLocalitate);
            //}


            $("#dropdownTipOfertaGenSelectButton").click(function() {
                $.ajax({
                    url: '@Url.Action("GetNumarAnunturiPerTipOfertaGenForFilter", "Home")',
                    type: 'POST',
                    data: {
                        TipProprietate: $("#TipProprietateSelect").val(),
                        localitateString: $(".searchBox").val()
                    },
                    success: function(data) {
                        var allImo = data.split('|');
                        for (var i = 0; i < allImo.length - 1; i++) {
                            var tipOferta = allImo[i].split(',')[0];
                            $("#dropdownTipOfertaGenSelectList").find("[data-listvalue='" + tipOferta + "']")
                                .find("span").text(allImo[i].split(',')[1]);
                        }
                    }
                });
            });

            $("#dropdownTipProprietateSelectButton").click(function() {
                $.ajax({
                    url: '@Url.Action("GetNumarAnunturiPerTipOfertaForFilter", "Home")',
                    type: 'POST',
                    data: {
                        TipOfertaGen: $("#TipOfertaGenSelect").val(),
                        localitateString: $(".searchBox").val()
                    },
                    success: function(data) {
                        var allImo = data.split('|');
                        for (var i = 0; i < allImo.length - 1; i++) {
                            var tipOferta = allImo[i].split(',')[0];
                            $("#dropdownTipProprietateSelectList").find("[data-listvalue='" + tipOferta + "']")
                                .find("span").text(allImo[i].split(',')[1]);
                        }
                    }
                });
            });

            $("#dropdownTipOfertaGenSelectList li").click(function() {

                var rezText = " Rezultate";
                if ($(this).find("span").text() == 1) {
                    rezText = " Rezultat";
                }
                $("#SearchBtnHomeTxt").text($(this).find("span").text() + rezText);
            });

            $("#dropdownTipProprietateSelectList li").click(function() {

                var rezText = " Rezultate";
                if ($(this).find("span").text() == 1) {
                    rezText = " Rezultat";
                }
                $("#SearchBtnHomeTxt").text($(this).find("span").text() + rezText);
            });
        });
    </script>
}
