@{
    Layout = "_LayoutB5";
}

@using Imobiliare.UI.BusinessLayer
@using Imobiliare.Entities
@using Imobiliare.UI.Utils
@using Imobiliare.UI.Utils.UrlSeoFormatters
@using System.Web;
@using Microsoft.AspNetCore.Http.Extensions
@model Imobiliare.UI.Models.ApartamentDetaliiData


@if (!string.IsNullOrEmpty(ViewBag.ErrorNoImobilAvailable))
{
    <h3 class="alert alert-danger">@ViewBag.ErrorNoImobilAvailable</h3>
    return;
}

@{
    string formattedTitle = HtmlHelpers.RemoveSpecialCharacters(Model.Imobil.Title, ' ', false, true) + " ";
    formattedTitle += "- " + Model.Imobil.Id;
    formattedTitle += " - " + TipOfertaDisplayFormatter.GetDisplayString(Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen);
    formattedTitle = HttpUtility.HtmlDecode(formattedTitle);
    ViewBag.Title = formattedTitle;

    string metaDescription = TipOfertaDisplayFormatter.GetDisplayString(Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen);
    metaDescription += " " + Model.Imobil.Oras.Nume;
    if (Model.Imobil.Cartier != null)
    {
        metaDescription += ", " + Model.Imobil.Cartier.Nume;
    }
    if (Model.Imobil.NumarCamere > 0)
    {
        metaDescription += ", " + Model.Imobil.NumarCamere + " Camere";
    }
    if (Model.Imobil.Etaj > 0)
    {
        metaDescription += ", Etajul " + Model.Imobil.Etaj;
    }
    if (Model.Imobil.Suprafata > 0)
    {
        metaDescription += ", Suprafata " + Model.Imobil.Suprafata;
    }
    if (Model.Imobil.TipVanzator > 0)
    {
        metaDescription += ", " + TipVanzatorDisplayFormatter.GetDisplayString(Model.Imobil.TipVanzator);
    }
    if (Model.Imobil.VechimeImobil > 0)
    {
        metaDescription += ", Anul constructiei " + Model.Imobil.VechimeImobil;
    }
    ViewBag.MetaDescription = HttpUtility.HtmlDecode(metaDescription) + " - " + Model.Imobil.Id;

    ViewBag.ShareUrl = Context.Request.GetDisplayUrl();
    ViewBag.ShareTitle = formattedTitle;
    ViewBag.ShareDescription = formattedTitle;
    ViewBag.ShareImage = "http://www.apartamente24.ro/Images/uploadedPhotos/" + Model.Imobil.FirstPhoto;
    ViewBag.ShareImageHeight = 480;
    ViewBag.ShareImageWidth = 640;
}

<style type="text/css">
    .checkboxBool {
        width: 20px;
        height: 15px;
    }

    .panel-heading {
        font-weight: bolder;
    }
</style>

<div class="container">
    <div class="d-flex my-4">
        @if (Context.Request.Headers.TryGetValue("Referer", out var referer))
        {
            <a class="btn btn-light me-auto" href="@referer"><span class="bi bi-arrow-left"></span> Înapoi</a>
        }

        @if (Model.IsCurrentUserAdmin || Model.LoggedInUserId == Model.Imobil.UserId)
        {
            <a class="btn btn-primary" href="/Administrare/AnuntEditare/@Model.Imobil.Id"><span class="bi bi-pen"></span> Editare</a>
        }

        @*Show for admin possibility to edit anunt from here*@
        @if (Model.IsCurrentUserAdmin)
        {
            <a class="btn btn-primary ms-1" href="/SuperAdmin/UserEditare?userid=@Model.Imobil.UserId">Edit <span class="bi bi-person"></span></a>
        }
    </div>

    @if (@Model.Imobil.StareAprobare != StareAprobare.Aprobat)
    {
        <div>
            @if (@Model.Imobil.StareAprobare == StareAprobare.InAsteptare)
            {
                <h2 class="alert alert-success"><span class="glyphicon glyphicon-ok-circle"></span> Anunțul urmează a fi aprobat după ce va fi analizat de către un moderator.</h2>
            }
            else
            {
                <h2 class="alert alert-warning"><span class="glyphicon glyphicon-info-sign"></span> Stare Anunț: @Model.Imobil.StareAprobare</h2>
            }
        </div>
    }

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=273830189442081";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
        <div class="col-sm-6 col-md-6" style="font-size: 1.3em; font-weight: bold !important; vertical-align: top;">
            @if (@Model.Imobil.DataAdaugareInitiala.AddDays(14) > DateTime.Now)
            {
                <span style="color: #007171; font-weight: normal"> NOU </span>
            }
            @if (@Model.Imobil.PromotedLevel > PromovatLevel.Nepromovat)
            {
                <span style="color: #53b50a; font-weight: normal"> PROMOVAT </span>
            }
            <h1 style="width: 100%; font-size: 1em; margin-top: 5px; margin-bottom: 10px">@Model.Imobil.Title</h1>
            @if (@Model.Imobil.Cartier != null)
            {
                <p>Cartier: @Model.Imobil.Cartier.Nume</p>
            }
            @if (!string.IsNullOrEmpty(@Model.Imobil.Strada))
            {
                <p>Strada: @Model.Imobil.Strada</p>
            }
            @if (@Model.Imobil.Oras != null)
            {
                <p>@Model.Imobil.Oras.Nume, @Model.Imobil.Judet.Nume</p>
            }
            <div class="fb-share-button"
                 data-layout="button_count">
            </div>
        </div>

        <div class="col-sm-6 col-md-push-3 col-md-3" style="vertical-align: top">
            @*div used for getting with jquery the id!!*@
            <div class="descriereApartament" style="margin-bottom: 10px">
                <p style="display: none" class="imobilIdClass">@Model.Imobil.Id</p>
            </div>
        </div>
    </div>
    @if (Model.Imobil.Poze != null)
    {
        @*<div class="row panel-success">
    @foreach (var poza in @Model.Imobil.Poze.Split(';'))
    {
    <div class="col-xs-12 col-sm-6 col-md-4 img-thumbnail">
    <a class="fancybox fancybox-thumbs anchor-link-spanner" href="~/Images/uploadedPhotos/@poza" data-fancybox-group="gallery" title="@Model.Imobil.Title">
    <img class="center-cropped" style="vertical-align: top; height: 200px" src="~/Images/uploadedPhotos/@poza" alt="@HtmlHelpers.RemoveSpecialCharacters(Model.Imobil.Title, ' ', false)" />
    </a>
    </div>
    }
    </div>
    <br />*@

        <style type="text/css">
            .carousel .carousel-item {
                height: 500px;
            }

            .carousel-item img {
                /*position: absolute;*/
                object-fit: cover;
                object-position: center;
                height: 600px;
            }
        </style>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
            <div class="col-lg-7">
                <div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        @{
                            var carouselSliderNr = 1;
                        }
                        @foreach (var poza in @Model.Imobil.Poze.Split(';').Skip(1))
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@carouselSliderNr" aria-label="Slide @carouselSliderNr"></button>
                            {
                                carouselSliderNr++;
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Images/uploadedPhotos/@Model.Imobil.FirstPhoto" class="d-block w-100" alt="...">
                        </div>
                        @foreach (var poza in @Model.Imobil.Poze.Split(';').Skip(1))
                        {
                            <div class="carousel-item">
                                <img src="~/Images/uploadedPhotos/@poza" class="d-block w-100" style="max-height: 600px" alt="@poza">
                            </div>
                        }
                    </div>
                    @if (Model.Imobil.NumarPoze > 1)
                    {
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    }
                </div>
            </div>
            <div class="col-lg-5 p-1 p-lg-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Preț:</td>
                            <td><strong>@PriceFormatter.FormatPrice(Model.Imobil.Price.Value) €</strong></td>
                        </tr>
                        <tr>
                            <td>Suprafață:</td>
                            <td>@Model.Imobil.Suprafata mp</td>
                        </tr>

                        @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.NumarCamere, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen))
                        {
                            <tr>
                                <td>Număr camere:</td>
                                <td>@(Model.Imobil.NumarCamere > 0 ? Model.Imobil.NumarCamere.ToString() : "-")</td>
                            </tr>
                        }
                        @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Etaj, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen))
                        {
                            string etajeFormatat = "-";
                            if (Model.Imobil.Etaj != 0)
                            {
                                switch (Model.Imobil.Etaj)
                                {
                                    case -1:
                                        etajeFormatat = "Mansarda";
                                        break;
                                    case -4:
                                        etajeFormatat = "-";
                                        break;
                                    case -3:
                                        etajeFormatat = "Demisol";
                                        break;
                                    case -2:
                                        etajeFormatat = "Parter";
                                        break;
                                    default:
                                        etajeFormatat = Model.Imobil.Etaj.ToString();
                                        break;
                                }
                            }

                            if (Model.Imobil.NumarTotalEtaje > 0)
                            {
                                etajeFormatat += " din " + Model.Imobil.NumarTotalEtaje + " Etaje";
                            }
                            <tr>
                                <td>Etaj:</td>
                                <td>@etajeFormatat</td>
                            </tr>
                        }
                        @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.NumarBalcoane, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen))
                        {
                            string numarBalcoane;
                            switch (Model.Imobil.NrBalcoane)
                            {
                                case 0:
                                case null:
                                    numarBalcoane = "-";
                                    break;
                                case -1:
                                    numarBalcoane = "Nu are balcon";
                                    break;
                                default:
                                    numarBalcoane = Model.Imobil.NrBalcoane.ToString();
                                    break;
                            }
                            <tr>
                                <td>Număr Balcoane:</td>
                                <td>@numarBalcoane</td>
                            </tr>
                        }
                        @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.NumarBai, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen))
                        {
                            string numarBai = Model.Imobil.NrBai > 0 ? Model.Imobil.NrBai.ToString() : "-";
                            <tr>
                                <td>Număr băi:</td>
                                <td>@numarBai</td>
                            </tr>
                        }

                        @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.AnulConstructiei, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen))
                        {
                            string vechime = Model.Imobil.VechimeImobil > 0 ? Model.Imobil.VechimeImobil.ToString() : "-";
                            <tr>
                                <td>Vechime Imobil:</td>
                                <td>@vechime</td>
                            </tr>
                        }
                        <tr>
                            <td>Data adăugării:</td>
                            <td>@Model.Imobil.DataAdaugare.ToString("dd/MM/yyyy")</td>
                        </tr>
                        @*<tr>
                    <td>Valabilitate:</td>
                    <td>@Model.Imobil.Valabilitate zile (@Model.Imobil.DataAdaugare.AddDays(@Model.Imobil.Valabilitate).ToString("dd/MM/yyyy"))</td>
                    </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    }

    <!--if (!Request.Url.AbsoluteUri.Contains("localhost"))
    {
        <div style="margin-bottom: 10px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!-- Ap 25 Reclama anunturi / categorii -->
    <!--<ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1474334984782094"
                 data-ad-slot="5459285763"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }-->

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
        <div class="col-sm-12">
            <h3>@TipOfertaDisplayFormatter.GetDisplayString(Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen)@*Id:@Model.Imobil.Id*@</h3>

            <p style="width: 100%; margin-top: 10px">
                @Html.Raw(@Model.Imobil.Descriere.Replace(Environment.NewLine, "<br/>"))
            </p>
        </div>
        <div class="col d-flex justify-content-around flex-wrap">
            @if (Model.Imobil.Negociabil)
            {
                <p><span class="bi bi-check"></span> Negociabil</p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.AerConditionat, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.AerConditionat)
            {
                <p><span class="bi bi-check"></span> Aer Condiționat</p>
            }
            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Centralatermica, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.CT)
            {
                <p><span class="bi bi-check"></span> Centrală termică</p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Garaj, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.Garaj)
            {
                <p><span class="bi bi-check"></span> Garaj</p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.LocParcare, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.LocParcare)
            {
                <p><span class="bi bi-check"></span> Loc Parcare</p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Decomandat, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.Decomandat)
            {
                <p><span class="bi bi-check"></span> Decomandat</p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.Finisat, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.Finisat)
            {
                <p>
                    <span class="bi bi-check"></span> Finisat
                </p>
            }

            @if (TipOfertaOptions.OptionVisible(AnuntOptiuni.LocInPivnita, Model.Imobil.TipProprietate, Model.Imobil.TipOfertaGen) && Model.Imobil.LocInPivnita)
            {
                <p><span class="bi bi-check"></span> Loc In Pivnița</p>
            }
        </div>
    </div>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
        <div class="col-xs-12 col-sm-6 col-md-5">
            <p>Tip Vânzator: @TipVanzatorDisplayFormatter.GetDisplayString(Model.Imobil.TipVanzator)</p>

            @if (Model.UserProfile.Agentie != null)
            {
                <a href="@AgentiiImobiliareUrls.AgentieImobiliaraUrl(Model.UserProfile.Agentie, Model.Imobil.Oras)">
                    Agenție imobiliară: @Model.UserProfile.Agentie.Nume
                </a>
                if (!string.IsNullOrEmpty(Model.UserProfile.Agentie.PozaAgentie))
                {
                    <a href="@AgentiiImobiliareUrls.AgentieImobiliaraUrl(Model.UserProfile.Agentie, Model.Imobil.Oras)">
                        <div style="max-height: 110px; max-width: 170px">
                            <img style="max-height: 110px; max-width: 170px" src="~/Images/LogoAgentii/@Model.UserProfile.Agentie.PozaAgentie" />
                        </div>
                    </a>
                    <br />
                    <br />
                    <div class="clearfix"></div>
                }
            }

            @if (Model.UserProfile.Role != Role.Administrator && Model.UserProfile.TipVanzator != TipVanzator.PersoanaFizica)
            {
                <a href="@Url.Action("AnunturiUtilizator", "Anunturi", new {userId = @Model.UserProfile.Id})">
                    <div>
                        @if (!string.IsNullOrEmpty(Model.UserProfile.Picture))
                        {
                            <img style="max-height: 100px; max-width: 100px; display: inline-block" src="~/Images/profileImages/@Model.UserProfile.Picture" />
                        }
                        else
                        {
                            <img style="max-height: 100px; max-width: 100px; display: inline-block" src="~/Images/DecorationImages/profile-icon.png" />
                        }
                    </div>
                </a>

                if (!string.IsNullOrEmpty(Model.UserProfile.NumeComplet))
                {
                    <p style="display: inline-block">Agent: @Model.UserProfile.NumeComplet</p>
                }
            }

            <p id="TelefonContact">
                <span class="bi bi-phone"></span>&nbsp;Telefon: <span style="cursor: pointer" class="btn btn-primary" id="contactVanzatorButton">07.. Arata Telefon</span>
            </p>

            @if (Model.UserProfile.Role != Role.Administrator)
            {
                <a href="@Url.Action("AnunturiUtilizator", "Anunturi", new { userId = @Model.UserProfile.Id })">Arată anunțurile utilizatorului</a>
                <br />
                <br />
            }
            @*TODO: Enable raport anunt button
            <a data-toggle="modal" data-target="#modalRaporteazaAnuntInvalid" style="cursor: pointer"><span class="glyphicon glyphicon-exclamation-sign red"></span> Raportează Anunț Invalid</a>*@

        </div>

        <div class="col-xs-12 col-sm-6 col-md-7" @*style="border-left: 1px solid #a7d582;"*@>
            @if (!String.IsNullOrEmpty(Model.Imobil.ContactEmail))
            {
                if (User.Identity.IsAuthenticated)
                {
                    @*  @*TODO: Enable
            using (Ajax.BeginForm("TrimiteMesajVanzatoruluiAnuntRelated", "Mesaje", new AjaxOptions { UpdateTargetId = "resultMesajVanzator", InsertionMode = InsertionMode.Replace, OnBegin = "showContactFormProgress", OnSuccess = "hideContactFormProgress" }))
            {
            <div class="panel panel-success">
            <div class="panel-heading">Trimite mesaj vanzatorului</div>
            <div class="panel-body">
            <input type="hidden" value="@Model.Imobil.Id" name="IdAnuntVanzator" />
            <br />
            <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Mesaj</label>
            <textarea rows="4" style="max-width: 600px; width: 100%" id="MesajCumparator" name="MesajCumparator" placeholder="Mesaj" class="form-control">Buna ziua, Am gasit anuntul Dumneavoastra cu titlul @Model.Imobil.Title pe apartamente24.ro. Va rog sa-mi trimiteti informatii suplimentare. Va multumesc.</textarea>
            </div>

            <input type="hidden" value="@Model.Imobil.Id" />

            <div class="clearfix"></div>

            <div style="margin-top: 10px">
            <img id="loadingGif" src="~/Images/preloader.gif" style="height: 35px; vertical-align: bottom; padding-bottom: 5px; display: none" alt="Va rugam asteptati" />
            <p id="loadingMessage" style="display: none">Va rugam asteptati</p>
            <input class="btn btn-success" type="submit" id="TrimiteMesajButton" value="Trimite Mesaj" />
            <div id="resultMesajVanzator" style="color: blue"></div>
            </div>
            </div>
            </div>
            }*@

                    @using (Html.BeginForm("TrimiteMesajVanzatoruluiAnuntRelated", "Mesaje", FormMethod.Post, new { id = "messageForm" }))
                    {
                        <div class="panel panel-success">
                            <div class="panel-heading">Trimite mesaj vanzatorului</div>
                            <div class="panel-body">
                                <input type="hidden" value="@Model.Imobil.Id" name="IdAnuntVanzator" />
                                <br />
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Mesaj</label>
                                    <textarea rows="4" style="max-width: 600px; width: 100%" id="MesajCumparator" name="MesajCumparator" placeholder="Mesaj" class="form-control">Buna ziua, Am gasit anuntul Dumneavoastra cu titlul @Model.Imobil.Title pe apartamente24.ro. Va rog sa-mi trimiteti informatii suplimentare. Va multumesc.</textarea>
                                </div>

                                <input type="hidden" value="@Model.Imobil.Id" />

                                <div class="clearfix"></div>

                                <div style="margin-top: 10px">
                                    <img id="loadingGif" src="~/Images/preloader.gif" style="height: 35px; vertical-align: bottom; padding-bottom: 5px; display: none" alt="Va rugam asteptati" />
                                    <p id="loadingMessage" style="display: none">Va rugam asteptati</p>
                                    <input class="btn btn-success" type="submit" id="TrimiteMesajButton" value="Trimite Mesaj" />
                                    <div id="resultMesajVanzator" style="color: blue"></div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account", new { returnUrl = Context.Request.GetEncodedUrl() })" class="btn btn-primary"><span class="bi bi-envelope"></span>&nbsp;&nbsp;Pentru a trimite mesaj trebuie sa va logati</a>
                }
            }
            else
            {
                <p><span class="bi bi-envelope"></span>&nbsp;&nbsp;Email contact nespecificat</p>
            }
        </div>
    </div>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
        <div>Localizare</div>
        <div>
            @if (Model.Imobil.GoogleMarkerCoordinates != null)
            {
                @*<div id="mapMode" style="margin-bottom: 10px; position: relative; cursor: pointer; width: 175px; background-color: white; box-shadow: none">
            <img class="img-rounded" src="~/Images/DecorationImages/hartaGoogleIcon.JPG" style="width: 175px" />
            <p style="position: absolute; left: 37px; top: 32px; background-color: white; opacity: 0.9; padding: 5px; border-radius: 3px">
            <span class="glyphicon glyphicon-map-marker"></span> Vezi pe hartă
            </p>
            </div>
            <div style="position: relative">
            <div id="map_canvas_detaliiap" style="margin-top: 20px; box-shadow: 4px 4px 3px #888888">
            </div>
            </div>*@

                <div>
                    <div>
                        <div id="mapMode" style="margin-bottom: 10px; position: relative; cursor: pointer; width: 175px; background-color: white; box-shadow: none">
                            <img class="img-rounded" src="~/Images/DecorationImages/hartaGoogleIcon.JPG" style="width: 175px" alt="vezi pe harta" />
                            <p style="position: absolute; left: 37px; top: 32px; background-color: white; opacity: 0.9; padding: 5px; border-radius: 3px">
                                <span class="glyphicon glyphicon-map-marker"></span> Vezi pe hartă
                            </p>
                        </div>
                    </div>
                    <div id="map_canvas_detaliiap" style="height:300px; margin-top: 20px">
                    </div>
                </div>
            }
            else
            {
                <p class="my-2"><span class="bi bi-map"></span>&nbsp;&nbsp;Locație Indisponibilă pe Hartă</p>
            }
        </div>

    </div>

    @if (Model.AnunturiSimilare.Count > 0)
    {
        <div class="row">

            <div class="panel-heading mb-3 text-decoration-underline">Anunțuri similare</div>
        </div>
        <div class="row">
            @{
                var anunturiSimilare = Model.AnunturiSimilare;
                if (anunturiSimilare.Count > 3)
                {
                    anunturiSimilare = anunturiSimilare.GetRange(0, 3);
                }
            }
            @foreach (var imobil in anunturiSimilare)
            {
                <div class="col-md-4">
                    <div class="card rounded mb-4 shadow-sm">
                        <a class="linkDiv" href="@UrlBuilder.BuildAnuntPageUrl(imobil.Oras.Nume, imobil.TipProprietate, imobil.TipOfertaGen, imobil.Title, imobil.Id)">

                            <img class="card-img-top center-cropped" src="~/Images/uploadedPhotos/@imobil.FirstPhoto" alt="@HtmlHelpers.RemoveSpecialCharacters(imobil.Title, ' ', false)">
                            <div class="card-body" style="height:150px">

                                <h5 class="card-title">@imobil.Judet.Nume, @imobil.Oras.Nume, @TipOfertaDisplayFormatter.GetDisplayString(imobil.TipProprietate, imobil.TipOfertaGen)</h5>

                                <p class="card-title">@imobil.Price €</p>
                                <p class="card-text">@imobil.Suprafata m²</p>
                            </div>

                        </a>
                    </div>
                </div>
            }
        </div>
    }

    @*    @if (!Request.Url.AbsoluteUri.Contains("localhost"))
    {
    <div style="margin: 20px 0">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Ap 25 Reclama anunturi / categorii -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1474334984782094"
    data-ad-slot="5459285763"
    data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    }*@

    <section class="row">
        <h3 style="margin-bottom: 10px">Cele mai căutate rezultate</h3>
        @{
            var judetName = Model.Imobil.Judet.Nume;
        }
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente">Apartamente vanzare @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/camere-1-1">Apartamente vanzare 1 camera @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/camere-2-2">Apartamente vanzare 2 camere @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/camere-3-3">Apartamente vanzare 3 camere @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/camere-4-4">Apartamente vanzare 4 camere @judetName</a><br />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="/Anunturi/Lista/judet-@judetName/tip-Inchiriat-Apartamente">Apartamente inchiriat @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Inchiriat-Apartamente/camere-1-1">Apartamente inchiriat 1 camera @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Inchiriat-Apartamente/camere-2-2">Apartamente inchiriat 2 camere @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Inchiriat-Apartamente/camere-3-3">Apartamente inchiriat 3 camere @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Teren">Teren de vanzare in @judetName</a><br />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Garsoniere">Garsoniera vanzare @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Inchiriat-Garsoniere">Garsoniera inchiriat @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/vanzator-Persoane-Fizice">Apartamente persoane fizice @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Apartamente/vanzator-Agentii-Imobiliare">Apartamente agentii imobiliare @judetName</a><br />
            <a href="/Anunturi/Lista/judet-@judetName/tip-Vanzare-Case">Case de vanzare @judetName</a><br />
        </div>
    </section>

    <div class="col my-4" style="background-color: #F9F9F9; text-align: center; padding: 10px">
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("AnuntEditare", "Administrare")" class="btn btn-primary"><span class="bi bi-pin"></span>&nbsp;Adaugă Anunț Gratuit</a>
        }
        else
        {
            <a href="@Url.Action("AnuntEditare", "Administrare")" class="btn btn-primary"><span class="bi bi-pin"></span>&nbsp;Adaugă Anunț Gratuit</a>
        }
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?hl=ro" async defer></script>
    <script>
        $(document).ready(function () {
            $("#mapMode").on("click",
                function () {
                    initialize();
                    $("#mapMode").hide();
                });

            $("#hideContactVanzatorButton").hide();

            $("#contactVanzatorButton").click(function () {
                //get telefon Number
                $.getJSON('@Url.Action("RetrieveTelefon", "Home")',
                    { anuntId: @Model.Imobil.Id },
                    function (telefon) {
                        //alert(telefon);
                        $("#TelefonContact").html('<span class="bi bi-telephone"></span>&nbsp;Telefon: <strong>' + telefon + '</strong>');
                    });
                $("#hideContactVanzatorButton").show();
                $("#contactVanzatorButton").hide();
            });

            $("#hideContactVanzatorButton").click(function () {
                $("#contactVanzatorButton").show();
                $("#hideContactVanzatorButton").hide();
            });

            $("#EmailCumparator").on("click",
                function () {
                    $("#EmailCumparator").val('');
                });
            $("#TelefonCumparator").on("click",
                function () {
                    $("#TelefonCumparator").val('');
                });
            $("#TrimiteMesajButton").on("click",
                function () {
                    $("#resultMesajVanzator").html("");
                });

            $("#EmailContactAbuz").on("click",
                function () {
                    $("#EmailContactAbuz").val('');
                });

            $("#TrimiteMesajButtonAbuz").on("click",
                function () {
                    $("#resultMesajAbuz").html("");
                });

            $('#messageForm').submit(function (e) {
                e.preventDefault();              

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    beforeSend: function () {
                        showContactFormProgress();
                    },
                    success: function (response) {
                        $('#resultMesajVanzator').html(response);                        
                    },
                    complete: function () {
                        hideContactFormProgress();
                    }
                });
            });
        });

        function showContactFormProgress() {
            $('#loadingGif').show();
            $('#loadingMessage').show();
            $("#TrimiteMesajButton").hide();
        }

        function hideContactFormProgress() {
            $('#loadingGif').hide();
            $('#loadingMessage').hide();
            $("#TrimiteMesajButton").show();
            //TODO Do not rely on "Eroare" text
            if ($('#resultMesajVanzator').text().indexOf("Eroare") == -1) {
                $("#EmailCumparator").val("Emailul tau");
                $("#TelefonCumparator").val("Telefonul tau");
                $("#MesajCumparator").val('');
                $("#resultMesajVanzator").css("color", "blue");
            } else {
                //Keep values for editing
                $("#resultMesajVanzator").css("color", "red");
            }

            //Reset Recaptcha here and in hideContactFormProgressAbuz
            grecaptcha.reset();

            //Show status message
            alert($('#resultMesajVanzator').text());
        }

        function showContactFormProgressAbuz() {
            if (grecaptcha.getResponse()) {
                $('#loadingGifAbuz').show();
                $('#loadingMessageAbuz').show();
                $("#TrimiteMesajButtonAbuz").hide();
                return true;
            } else {
                alert("Vă rugăm bifați căsuta că nu sunteți robot");
                return false;
            }
        }
    </script>
    @if (Model.Imobil.GoogleMarkerCoordinates != null)
    {
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhW0kEjWH1Fb6UfNZU5DdSUFCwTOQXKR0" type="text/javascript"></script>
        <script>
            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    scrollwheel: false,
                    streetViewControl: false,
                    center: new google.maps.LatLng(46.777248, 23.599889)
                };
                var map = new google.maps.Map(document.getElementById('map_canvas_detaliiap'),
                    mapOptions);

                var lat = '@Model.Imobil.GoogleMarkerCoordinates.Split(',')[0]';
                //alert('@Model.Imobil.GoogleMarkerCoordinates.Split(',')[1]');
                var longu = '@Model.Imobil.GoogleMarkerCoordinates.Split(',')[1]';

                placeMarker(new google.maps.LatLng(lat.replace(/\(/g, ""), longu.replace(/\)/g, "")), map);
            }

            function placeMarker(position, map) {
                //depends on url how many slashes / it has
                var image = '../../../../Images/markerApartment5.png';
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: image
                });
                map.panTo(position);
                attachSecretMessage(marker, map);
            }

            function attachSecretMessage(marker, map) {
                //TODO: DAPI Check if we can remove the if
                var image = '';
            @if (true)
            {
                <text>
                        image = 'uploadedPhotos/' + '@Model.Imobil.FirstPhoto';
                </text>
            }

                            var infowindow = new google.maps.InfoWindow(
                    {
                        content:
                            '<b>@Model.Imobil.Price €</b><br/> @Model.Imobil.Suprafata MP <br/> <img class="img img-rounded" alt="poza proprietate" width="100" src=\'/Images/' + image + '\'/>',
                        size: new google.maps.Size(170, 170)
                    });
                google.maps.event.addListener(marker,
                    'click',
                    function () {
                        infowindow.open(map, marker);
                    });
                infowindow.open(map, marker);
            }

            //google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    }
}