<style type="text/css">
    .judetHarta:hover {
        color: red;
        background-color: white;
    }

    .mapMode {
        background-color: #d3d3d3;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset;
    }

    .listMode {
        background-color: #F9F9F9;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset;
    }

    #body {
        /*stick image to the left on mobile*/
        margin-left: 0;
    }

    /*https://www.w3docs.com/snippets/css/how-to-crop-and-center-an-image-automatically-in-css.html*/
    .center-cropped {
        object-fit: cover;
        object-position: center;
        /*height: 200px;*/
        width: 100%;
        /*padding-bottom: 10px;*/
    }

    .imageBox {
        box-shadow: 4px 4px 2px #888888;
    }
</style>
@using System.Linq
@using Imobiliare.UI.BusinessLayer
@using Imobiliare.Entities
@using Imobiliare.UI.Utils
@using Imobiliare.UI.Utils.UrlSeoFormatters

@{
    ViewBag.Title = "Anunturi Imobiliare Gratuite, Apartamente Vanzare Inchiriere";
    ViewBag.MetaDescription = "Apartamente, Garsoniere, Case sau Terenuri de vanzare sau inchiriere din Romania. Anunturi imobiliare gratuite si actualizate pe apartamente24.ro";
    //Layout = "../Shared/_Layout1.cshtml";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=273830189442081";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="searchDivMainPage" style="text-align: center" class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2 container" id="MainPageSearchDiv" style="background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75); border-radius: 5px">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h1 class="hidden-xs">apartamente24.ro</h1>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <h1>Ești aproape acasă</h1>
            </div>
        </div>
        <div id="searchDivMainPageContent" style="padding: 20px; border-radius: 5px">
            <div class="input-group" style="margin: 0 auto">
                <div class="selectBoxSimulator dropdown" style="padding: 5px">
                    <input type="hidden" id="TipOfertaGenSelect" name="ImobilToEdit.TipOfertaGen" value="@(TipOfertaGen.Vanzare)" />
                    <button class="combobox dropdown-toggle" style="width: 130px" type="button" id="dropdownTipOfertaGenSelectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @TipOfertaGen.Vanzare.DisplayValue()
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownTipOfertaGenSelectButton" id="dropdownTipOfertaGenSelectList">
                        @foreach (TipOfertaGen tipOfertaGen in Enum.GetValues(typeof(TipOfertaGen)).Cast<TipOfertaGen>().Except(new[] { TipOfertaGen.Toate, TipOfertaGen.VreauSaCumpar, TipOfertaGen.VreauSaInchiriez }))
                        {
                            <li data-listvalue="@tipOfertaGen">@tipOfertaGen.DisplayValue() <span class="badge"></span></li>
                        }
                    </ul>
                </div>            

                <div class="selectBoxSimulator dropdown" style="padding: 5px">
                    <input type="hidden" id="TipProprietateSelect" name="ImobilToEdit.TipProprietate" value="@(TipProprietate.Apartament)" />
                    <button class="combobox dropdown-toggle" style="width: 140px" type="button" id="dropdownTipProprietateSelectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @TipProprietate.Apartament.DisplayValue()
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownTipProprietateSelectButton" id="dropdownTipProprietateSelectList">
                        @foreach (TipProprietate tipOfertaGen in Enum.GetValues(typeof(TipProprietate)).Cast<TipProprietate>().Except(new[] { TipProprietate.Toate }))
                        {
                            <li data-listvalue="@tipOfertaGen">@tipOfertaGen.DisplayValue() <span class="badge"></span></li>
                        }
                    </ul>
                </div>

                <div style="display: inline-block; position: relative">
                    <input type="text" autocomplete="off" style="padding: 6px; margin-right: 5px; color: #c3c3c3; font-size: 1.4em; vertical-align: middle" class="ui-corner-all searchBox highlightTextBox" value="Introduceti Localitate" onfocus="inputFocus(this)" onblur="inputBlur(this)" name="searchBox" />
                    <span class="searchBoxLoading glyphicon glyphicon-refresh" style="position:absolute; right: 5px; top: 2px; display: none"></span>
                    <span class="searchBoxNoResults" style="position:absolute; right: 5px; top: 2px; display: none">Nume localitate invalid</span>
                    <ul class="localitatiSearchResult"></ul>
                </div>
                @*<div id="oraseLista"></div>*@
                <div class="searchButton btn btn-success">
                    <span class="glyphicon glyphicon glyphicon-search"></span>
                    <p id="SearchBtnHomeTxt" style="display: inline-block; margin: 0">Caută</p>
                </div>
            </div>

        </div>
    </div>
</div>
<img id="loadingGif" src="~/Images/preloader.gif" style="height: 50px; width: 50px; padding-left: 300px; display: none" />
@{
    var judetAnunturiDict = (Dictionary<string, int>)ViewBag.TotalNumberAnunturiPeJudete;
}

@*On XS visible list*@
<h1 class="visible-xs" style="font-size: 1.2em; margin-top: 0; background-color: white; opacity: 0.9; text-align: center; border-radius: 4px">Cel mai complex site de anunțuri imobiliare gratuite din Romania</h1>
<div class="visible-xs row" style="background-color: #F9F9F9; text-align: center; padding: 10px">
    @if (!User.Identity.IsAuthenticated)
    {
        <a data-toggle="modal" data-target="#modalAdaugaAnuntLogin" class="btn btn-light"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adaugă Anunț Gratuit</a>
    }
    else
    {
        <a href="@Url.Action("AnuntEditare", "Administrare")" class="btn btn-light"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adaugă Anunț Gratuit</a>
    }
</div>
<div class="visible-xs row" style="background-color: #F9F9F9">
    <h3 style="margin-left: 20px">Total: @judetAnunturiDict.Sum(x => x.Value) anunțuri active</h3>
    @{
        foreach (var judet in (List<Judet>)ViewBag.Judete)
        {
            if (judetAnunturiDict.ContainsKey(judet.Nume) && judetAnunturiDict[judet.Nume] > 0)
            {
                <a style="text-decoration: none" href="@(Url.Content("~/") + "Anunturi/judet-" + @judet.Nume)">
                    <div style="cursor: pointer">
                        <h3 class="availableJudet" style="width: 145px; display: inline-block">
                            @judet.Nume
                        </h3>
                        @if (judetAnunturiDict.ContainsKey(@judet.Nume))
                        {
                            <span class="badge alert-success">@judetAnunturiDict[@judet.Nume] Anunțuri</span>
                        }
                        else
                        {
                            <span class="badge alert-danger">0</span>
                        }
                    </div>
                </a>
                <hr style="margin: 5px 0 0 0" />
            }
        }
    }
</div>
<div class="row hidden-xs" id="hartaInteractivaDiv">
    <br />
    <div class="col-sm-12 col-md-10 col-md-push-2" id="hartaInteractiva" style="position: relative">
        <img class="map" src="../../Images/DecorationImages/hartaRomania.png" style="width: 780px; height: 600px" usemap="#planetmap" />
        <map name="planetmap">
            <area class="judetHarta" alt="Alba" title="Anunturi Alba" href="@(Url.Content("~/") + "Anunturi/judet-Alba")" shape="poly" coords="216,244,222,244,225,242,226,246,229,251,235,251,239,247,243,249,247,249,251,244,261,247,263,249,266,249,269,250,274,250,273,257,276,262,279,262,280,255,282,253,288,255,293,253,296,254,299,256,305,256,307,260,305,262,307,266,308,270,310,267,317,273,322,277,320,280,321,285,316,290,308,295,306,298,306,302,304,305,300,304,299,300,295,301,293,304,293,312,291,314,288,313,287,318,285,323,282,326,277,326,276,332,271,339,275,346,275,354,276,361,278,363,276,366,273,366,271,361,266,356,261,352,259,354,259,349,255,348,256,343,256,339,253,336,254,333,253,324,253,318,249,315,247,307,242,303,242,300,234,301,233,294,231,286,232,280,227,278,223,277,223,271,217,267,210,267,208,265,208,263,204,261,202,258,205,256,205,254,202,252,204,250,203,245,208,240,213,241" />
            <area class="judetHarta" alt="Arad" title="Anunturi Arad" href="@(Url.Content("~/") + "Anunturi/judet-Arad")" shape="poly" coords="46,279,51,272,54,265,59,266,62,267,62,270,65,270,67,266,71,265,76,269,81,267,81,265,86,265,86,255,89,252,94,252,95,249,94,245,93,241,99,237,99,232,100,229,106,229,107,223,110,223,113,228,117,228,120,225,126,223,130,226,138,224,142,227,144,230,148,230,152,227,157,230,162,230,165,235,164,241,166,244,171,242,176,248,179,254,182,257,189,258,196,258,199,257,201,258,204,262,208,264,203,267,200,276,191,278,187,276,184,279,185,285,180,290,180,296,182,298,180,304,174,306,172,309,168,311,162,312,155,307,144,302,142,300,140,303,140,306,138,308,130,303,127,307,125,305,124,302,121,307,115,303,113,298,108,297,108,291,101,293,97,298,93,300,88,296,85,298,80,294,76,297,71,291,65,290,61,290,58,287" />
            <area class="judetHarta" alt="Timis" title="Anunturi Timis" href="@(Url.Content("~/") + "Anunturi/judet-Timis")" shape="poly" coords="46,279,58,286,61,289,68,289,73,294,76,296,80,293,84,297,89,295,93,299,97,296,104,291,108,290,109,296,114,298,117,303,121,306,123,302,126,306,130,303,134,306,138,307,140,303,142,300,154,306,161,312,167,310,173,309,174,305,176,305,180,309,178,313,179,317,184,323,188,325,187,328,185,329,178,337,171,340,169,343,165,345,160,345,157,342,152,346,149,347,153,352,150,355,143,355,140,350,137,350,133,353,129,353,122,346,115,347,113,350,113,354,110,355,105,354,102,356,104,362,103,365,101,366,104,371,107,380,106,386,102,390,96,386,91,385,82,380,77,373,72,375,67,372,59,364,51,355,51,350,53,347,49,341,49,337,54,327,53,319,49,319,44,323,41,319,39,310,34,303,28,304,23,299,22,290,14,282,17,275,22,278,27,279,34,273,40,280,43,280" />
            <area class="judetHarta" alt="Hunedoara" title="Anunturi Hunedoara" href="@(Url.Content("~/") + "Anunturi/judet-Hunedoara")" shape="poly" coords="177,305,182,301,182,297,179,292,182,288,185,285,184,280,186,276,190,278,199,276,202,269,206,265,210,267,217,267,223,271,223,277,232,281,231,288,234,294,234,300,242,300,246,307,250,314,253,321,254,333,253,336,256,339,256,344,255,348,259,351,259,354,262,352,271,362,273,366,271,370,271,376,269,379,266,378,262,379,259,382,249,379,244,382,238,384,233,384,227,386,216,387,205,386,200,385,195,387,197,377,195,375,196,370,198,367,198,357,193,351,188,349,184,346,178,338,184,330,188,328,187,325,179,318,178,313,179,309" />
            <area class="judetHarta" alt="Brasov" title="Anunturi Brasov" href="@(Url.Content("~/") + "Anunturi/judet-Brasov")" shape="poly" coords="362,327,364,321,360,316,363,311,368,310,371,304,374,302,382,297,380,295,383,291,392,291,395,287,398,287,400,290,403,290,405,287,413,292,420,295,418,300,421,303,428,301,429,303,427,306,428,315,427,320,430,327,436,331,437,335,443,333,448,335,457,341,464,347,467,347,468,350,471,354,471,358,470,364,465,360,459,358,456,364,453,370,446,364,435,365,422,368,418,370,413,375,409,375,405,375,402,367,401,361,393,355,380,355,369,353,360,351,358,338,355,329,357,326" />
            <area class="judetHarta" alt="Caras-Severin" title="Anunturi Caras-Severin" href="@(Url.Content("~/") + "Anunturi/judet-Caras-Severin")" shape="poly" coords="100,402,101,398,105,395,102,391,107,384,106,374,101,368,104,365,104,361,101,357,105,355,110,357,114,354,114,348,122,347,129,353,134,354,137,350,140,352,142,355,150,356,153,352,149,348,158,344,163,346,169,344,171,341,177,339,185,345,187,349,193,351,199,358,199,367,194,373,196,376,198,379,196,386,187,395,193,402,193,407,189,413,182,425,177,432,175,438,167,438,161,433,157,436,158,440,153,448,153,455,151,460,147,459,144,463,138,451,130,450,119,448,110,449,107,441,100,436,91,434,91,427,104,425,106,419,95,417,92,407,99,407" />
            <area class="judetHarta" alt="Harghita" title="Anunturi Harghita" href="@(Url.Content("~/") + "Anunturi/judet-Harghita")" shape="poly" coords="387,244,397,244,399,241,402,233,406,228,404,223,405,219,407,213,403,207,405,203,406,192,401,187,406,182,409,174,416,175,420,180,428,183,431,187,438,184,443,189,446,191,445,195,448,197,445,205,445,215,448,218,446,225,452,234,455,233,460,229,463,235,468,242,468,249,461,255,463,261,471,262,475,265,475,271,480,270,485,269,485,271,482,275,484,277,480,282,472,289,466,290,459,294,455,292,450,292,445,286,441,281,437,273,434,278,429,283,422,283,420,289,419,294,405,287,403,291,400,291,396,288,394,283,390,280,383,281,377,275,373,266,380,263,381,261,378,258,379,255,381,256,383,254,383,247" />
            <area class="judetHarta" alt="Suceava" title="Anunturi Suceava" href="@(Url.Content("~/") + "Anunturi/judet-Suceava")" shape="poly" coords="388,116,392,116,400,106,407,98,417,90,442,90,453,86,471,86,474,91,480,96,489,104,496,110,503,121,506,135,508,139,513,140,516,140,520,146,518,148,515,145,513,147,514,152,510,153,503,148,501,152,506,158,503,161,496,156,486,159,485,162,480,164,475,163,466,165,458,165,454,165,446,158,443,161,448,166,444,172,438,177,438,184,433,187,429,187,428,182,419,180,417,177,410,175,407,180,402,185,401,182,392,182,387,179,387,165,385,163,387,157,389,154,387,149,386,146,391,145,390,141,391,134,386,135,384,133,386,130,382,128,382,122" />
            <area class="judetHarta" alt="Gorj" title="Anunturi Gorj" href="@(Url.Content("~/") + "Anunturi/judet-Gorj")" shape="poly" coords="193,406,193,402,186,396,195,386,204,386,227,386,234,384,243,383,249,379,259,382,267,377,269,380,274,382,288,381,290,383,287,391,292,398,291,401,287,403,287,407,289,411,285,414,281,421,285,439,285,447,281,449,278,450,280,454,278,457,279,460,273,463,266,461,262,460,259,464,254,464,250,457,239,453,232,452,223,445,212,433,214,420,208,413,201,407" />
            <area class="judetHarta" alt="Mehedinti " title="Anunturi Mehedinti " href="@(Url.Content("~/") + "Anunturi/judet-Mehedinti")" shape="poly" coords="150,475,144,463,148,459,151,460,154,457,153,448,158,441,156,436,161,434,167,438,174,438,178,433,182,424,189,414,192,410,193,406,197,407,201,406,214,419,212,432,219,441,231,451,239,452,249,457,255,464,255,469,250,470,246,467,242,472,237,477,234,480,239,485,237,489,232,493,229,496,231,500,230,510,231,513,227,515,221,511,219,514,219,517,210,515,202,510,196,504,195,497,189,496,181,492,179,483,176,473,179,471,183,473,186,470,188,465,191,470,197,468,199,462,193,455,182,449,178,444,171,450,166,450,162,455,156,463,156,470" />
            <area class="judetHarta" alt="Dolj" title="Anunturi Dolj" href="@(Url.Content("~/") + "Anunturi/judet-Dolj")" shape="poly" coords="218,517,220,514,221,511,227,514,231,513,230,507,231,498,228,495,238,487,239,482,234,479,240,473,244,468,250,469,255,468,256,464,262,459,271,462,279,460,278,456,281,454,278,449,283,448,284,453,288,458,293,463,298,469,293,474,294,481,300,485,305,489,307,497,319,507,319,519,318,528,323,534,319,535,320,539,317,543,317,548,311,553,310,559,310,566,301,560,292,556,282,552,275,551,267,553,256,547,245,544,236,548,224,549,215,550,209,545,205,540,211,530,219,525,223,521" />
            <area class="judetHarta" alt="Valcea" title="Anunturi Valcea" href="@(Url.Content("~/") + "Anunturi/judet-Valcea")" shape="poly" coords="286,382,270,381,268,379,271,375,273,367,278,363,287,360,309,362,320,362,327,357,346,354,347,364,343,372,341,380,344,387,342,394,345,402,345,420,342,427,341,432,337,435,334,431,332,436,327,442,327,454,329,460,329,466,327,467,322,464,321,467,315,470,312,470,308,475,303,472,298,470,290,459,284,456,284,448,285,440,283,430,280,421,284,414,288,411,287,406,287,401,291,400,291,397,287,393,288,386,289,381" />
            <area class="judetHarta" alt="Olt" title="Anunturi Olt" href="@(Url.Content("~/") + "Anunturi/judet-Olt")" shape="poly" coords="293,474,298,471,305,473,308,474,313,470,319,468,322,466,322,464,328,467,329,461,327,450,327,442,330,436,334,431,338,440,340,441,347,433,349,434,348,439,351,446,355,449,357,454,359,461,361,473,360,477,365,486,373,489,374,491,369,494,370,498,370,501,365,508,372,518,371,521,361,521,358,526,355,530,350,530,353,537,356,544,353,547,357,548,365,553,363,555,357,557,356,562,354,563,345,559,341,557,331,564,326,566,319,566,314,566,309,567,310,563,310,555,316,549,317,544,320,540,317,536,323,534,317,530,319,520,319,508,311,502,306,497,306,489,303,486,298,486,293,480" />
            <area class="judetHarta" alt="Arges" title="Anunturi Arges" href="@(Url.Content("~/") + "Anunturi/judet-Arges")" shape="poly" coords="337,435,342,429,343,423,345,419,345,402,342,394,344,386,341,378,344,368,347,365,345,357,347,354,354,352,360,351,374,355,392,354,401,361,403,370,405,375,408,376,406,383,405,388,404,396,397,402,395,395,392,395,394,407,394,413,396,418,398,422,396,430,395,442,397,449,400,453,399,456,395,457,396,460,404,470,405,475,400,483,397,482,389,486,374,491,374,488,370,489,364,486,360,475,360,466,358,459,357,457,357,450,349,441,348,436,349,432,347,432,343,438,339,441" />
            <area class="judetHarta" alt="Teleorman" title="Anunturi Teleorman" href="@(Url.Content("~/") + "Anunturi/judet-Teleorman")" shape="poly" coords="355,564,356,561,357,558,362,555,365,555,364,552,358,548,353,548,357,544,352,534,350,531,354,530,361,521,370,522,372,518,365,509,371,499,368,494,375,491,391,485,395,483,400,484,404,487,411,483,411,476,418,477,421,482,418,485,418,495,423,497,432,496,434,502,438,500,438,506,436,511,439,517,438,523,433,524,432,531,431,536,434,542,433,549,436,557,438,567,431,568,427,573,421,575,411,574,404,566,399,567,397,570,389,568,385,562,374,564,363,567" />
            <area class="judetHarta" alt="Dambovita" title="Anunturi Dambovita" href="@(Url.Content("~/") + "Anunturi/judet-Dambovita")" shape="poly" coords="400,483,406,475,403,466,395,458,397,455,399,456,399,451,396,447,396,441,396,428,398,421,393,409,393,394,395,394,397,402,404,395,406,386,405,381,409,375,414,375,419,370,417,378,424,388,424,396,432,407,437,414,437,424,443,426,449,432,443,437,443,440,449,445,453,442,458,444,461,450,463,453,460,459,461,464,458,468,456,470,456,474,450,471,436,472,432,468,428,468,427,473,416,475,411,474,410,478,411,482,403,487" />
            <area class="judetHarta" alt="Giurgiu" title="Anunturi Giurgiu" href="@(Url.Content("~/") + "Anunturi/judet-Giurgiu")" shape="poly" coords="438,568,436,556,433,549,433,543,431,534,432,527,434,524,439,522,440,518,436,511,438,502,437,499,434,503,433,499,432,496,424,497,418,494,417,485,421,483,420,478,416,475,426,473,428,469,433,469,437,473,450,471,453,474,454,480,456,486,451,490,465,499,473,504,479,504,484,501,495,507,496,513,500,516,496,520,497,528,486,530,479,533,473,533,469,541,464,549,455,555,455,560,449,559,445,565" />
            <area class="judetHarta" alt="Cluj" title="Anunturi Cluj" href="@(Url.Content("~/") + "Anunturi/judet-Cluj")" shape="poly" coords="204,189,206,188,207,186,212,193,219,194,222,199,230,202,235,203,240,207,246,201,245,196,248,196,250,201,254,201,256,199,258,195,266,189,263,185,264,182,268,181,267,176,271,172,276,172,280,169,280,162,283,161,287,163,293,161,296,150,297,150,301,153,306,151,309,152,310,159,307,159,306,156,303,159,303,163,301,165,301,170,308,176,316,182,317,186,315,189,315,197,320,202,322,210,321,217,317,218,312,223,315,228,312,232,309,233,309,239,311,245,306,246,303,249,304,256,298,256,296,253,290,254,286,254,282,253,280,256,280,262,276,261,273,256,274,249,270,250,266,249,264,249,260,247,252,244,248,248,243,249,239,247,236,250,231,251,226,247,226,242,225,242,222,244,216,244,213,241,213,235,211,231,207,222,206,219,200,212,201,210,205,212,209,210,210,205,210,200,206,198,203,195" />
            <area class="judetHarta" alt="Salaj" title="Anunturi Salaj" href="@(Url.Content("~/") + "Anunturi/judet-Salaj")" shape="poly" coords="204,188,203,184,195,183,194,181,197,175,190,167,193,163,197,161,196,156,198,151,205,149,209,144,213,143,217,141,229,150,233,149,238,147,238,142,240,142,245,140,252,145,255,144,267,148,276,148,281,152,285,151,286,154,294,153,293,159,289,163,284,161,281,160,280,164,280,170,276,173,270,171,267,177,268,181,264,181,263,185,266,189,258,195,256,200,251,201,248,198,248,196,245,196,246,201,241,207,235,203,230,203,222,199,219,193,215,194,209,190,208,187,206,187,205,189" />
            <area class="judetHarta" alt="Bistrita-Nasaud" title="Anunturi Bistrita-Nasaud" href="@(Url.Content("~/") + "Anunturi/judet-Bistrita-Nasaud")" shape="poly" coords="310,151,320,142,322,136,329,135,331,129,336,131,344,127,349,130,356,131,361,128,370,128,374,129,381,127,386,129,384,132,388,134,391,132,390,140,392,144,390,145,387,144,386,146,388,150,389,154,386,156,387,160,385,162,387,165,387,177,382,180,375,180,373,182,372,186,364,194,363,197,362,199,365,204,362,205,359,204,357,199,355,199,351,203,351,206,349,212,347,217,344,219,341,219,338,221,337,218,333,220,328,220,322,216,322,209,321,202,318,200,315,197,315,187,317,183,316,179,309,176,301,169,302,163,303,160,303,157,306,155,308,159,310,157" />
            <area class="judetHarta" alt="Mures" title="Anunturi Mures" href="@(Url.Content("~/") + "Anunturi/judet-Mures")" shape="poly" coords="322,217,330,220,334,220,337,218,339,221,342,218,344,219,347,217,347,213,351,206,352,202,356,199,359,202,362,205,365,204,362,200,364,197,364,195,371,188,372,184,373,182,376,180,380,180,387,177,390,181,397,181,401,182,402,185,400,187,406,192,405,199,406,203,403,206,406,215,404,220,404,225,406,228,402,233,400,237,399,242,395,244,387,244,383,246,384,254,381,257,379,255,377,257,381,261,381,264,374,264,373,266,376,274,383,280,390,280,395,284,395,287,392,291,383,290,381,295,376,296,371,294,364,297,360,295,361,290,361,280,356,275,353,278,345,279,341,278,338,279,326,279,322,276,316,271,310,265,308,269,307,265,304,262,307,259,303,254,303,248,306,245,309,244,310,241,308,235,309,232,312,231,315,226,313,223,316,218" />
            <area class="judetHarta" alt="Sibiu" title="Anunturi Sibiu" href="@(Url.Content("~/") + "Anunturi/judet-Sibiu")" shape="poly" coords="322,277,326,280,338,280,341,278,345,280,350,280,356,276,360,280,361,287,360,296,364,298,371,294,375,297,381,297,381,299,376,303,372,304,371,306,369,311,363,312,360,318,364,323,363,327,361,328,357,326,355,328,358,334,358,344,359,350,358,353,351,353,346,355,333,355,328,357,322,359,319,362,308,362,299,361,287,359,280,363,277,362,275,360,275,351,275,345,271,339,273,336,276,333,276,327,279,325,284,324,286,320,288,313,293,313,294,304,295,301,299,300,301,304,304,305,306,302,307,296,310,293,316,289,321,285" />
            <area class="judetHarta" alt="Maramures" title="Anunturi Maramures" href="@(Url.Content("~/") + "Anunturi/judet-Maramures")" shape="poly" coords="274,85,278,82,281,81,289,80,295,86,298,86,302,90,308,87,314,86,320,91,326,93,335,90,345,89,351,85,359,90,360,94,367,99,373,102,377,104,377,111,381,116,388,114,385,119,381,122,381,126,376,128,371,128,361,128,357,130,350,129,343,127,339,130,336,130,332,129,329,131,329,135,323,135,321,138,320,142,311,151,309,150,306,150,302,152,298,151,296,149,294,152,287,153,285,152,285,149,283,150,281,151,277,147,274,147,267,147,261,146,254,144,250,143,248,140,244,139,242,140,239,142,237,140,234,141,232,143,230,142,229,136,233,135,235,134,236,130,239,125,242,123,247,125,248,129,251,125,254,125,254,123,251,121,254,119,257,116,259,114,257,112,252,111,248,110,250,106,251,102,255,103,258,105,264,105,271,100,274,100,276,96,280,96,280,92" />
            <area class="judetHarta" alt="Satu-Mare" title="Anunturi Satu-Mare" href="@(Url.Content("~/") + "Anunturi/judet-Satu-Mare")" shape="poly" coords="172,117,177,113,178,106,182,105,187,109,191,106,192,99,194,98,200,104,206,104,212,98,216,99,217,93,220,91,224,91,224,86,228,85,229,81,232,78,237,81,242,78,246,72,248,67,253,68,255,74,259,75,261,77,266,78,272,85,280,92,281,96,277,97,275,99,271,101,266,105,257,104,252,102,250,103,249,108,251,111,257,112,258,116,255,118,254,120,251,121,254,123,253,125,248,129,247,126,243,122,239,125,236,130,236,134,234,136,228,136,230,142,232,143,235,140,238,141,237,143,239,146,235,148,229,148,222,145,218,140,215,141,212,142,209,142,205,147,201,149,198,150,197,144,192,141,186,139,181,139,181,132,178,129" />
            <area class="judetHarta" alt="Bihor" title="Anunturi Bihor" href="@(Url.Content("~/") + "Anunturi/judet-Bihor")" shape="poly" coords="109,222,113,218,117,217,114,213,114,206,118,203,123,202,124,194,129,191,129,187,126,183,132,177,139,173,143,165,143,155,150,147,159,145,160,142,159,137,156,132,162,125,168,121,174,121,178,131,181,133,181,139,187,139,195,142,198,150,196,155,196,161,191,162,190,167,196,173,196,177,194,181,197,182,202,183,204,187,203,195,207,198,210,200,210,210,207,212,201,209,200,211,202,214,206,219,210,229,213,233,213,240,210,240,205,241,203,244,204,249,202,251,204,254,202,257,199,256,196,257,191,258,187,256,182,256,179,252,177,248,174,243,171,239,166,243,163,238,165,234,162,229,157,229,152,226,149,229,144,229,141,224,135,224,131,225,126,221,123,224,120,224,117,226,113,227" />
            <area class="judetHarta" alt="Botosani" title="Anunturi Botosani" href="@(Url.Content("~/") + "Anunturi/judet-Botosani")" shape="poly" coords="472,85,478,84,479,80,481,77,482,71,489,63,495,58,501,59,505,59,510,55,516,57,522,54,529,61,534,59,536,63,536,66,540,68,541,76,549,86,555,91,555,100,556,105,560,109,563,112,559,116,564,123,568,128,562,130,558,135,549,135,548,142,540,142,532,141,529,137,519,138,517,141,514,140,510,138,507,137,505,125,499,114,493,108,485,100,478,94,472,90" />
            <area class="judetHarta" alt="Iasi" title="Anunturi Iasi" href="@(Url.Content("~/") + "Anunturi/judet-Iasi")" shape="poly" coords="500,152,503,149,511,152,514,152,513,147,516,146,518,148,520,146,516,141,518,138,528,137,533,141,540,142,547,143,548,134,557,135,562,130,567,130,569,128,573,133,575,138,578,140,581,140,584,144,584,153,590,159,598,160,599,166,603,171,600,174,604,179,610,187,618,190,622,192,623,198,627,207,624,211,619,209,616,205,613,208,611,212,606,211,604,206,604,199,601,200,600,204,600,207,597,206,596,199,589,194,586,196,589,199,592,201,588,203,583,203,580,205,575,207,570,201,568,203,566,206,562,207,554,206,552,206,550,201,553,197,559,198,561,196,557,191,552,185,549,181,546,185,542,190,540,186,534,190,528,189,523,183,516,183,511,181,511,170,503,162,506,159,505,155" />
            <area class="judetHarta" alt="Neamt" title="Anunturi Neamt" href="@(Url.Content("~/") + "Anunturi/judet-Neamt")" shape="poly" coords="437,178,447,169,447,165,443,161,446,159,454,165,459,164,465,165,475,162,483,164,486,160,495,157,503,162,510,171,511,181,516,184,523,183,527,189,534,190,539,186,542,190,546,186,549,182,554,188,559,194,561,197,557,198,551,200,550,204,558,214,557,221,551,224,546,219,541,217,539,220,532,219,534,214,532,212,529,216,526,219,525,225,521,221,513,225,509,231,505,231,502,229,500,232,489,233,483,230,479,229,474,233,469,234,466,225,461,230,454,235,451,235,446,225,448,219,445,215,445,205,448,199,447,197,445,195,446,192,442,189,438,185" />
            <area class="judetHarta" alt="Vaslui" title="Anunturi Vaslui" href="@(Url.Content("~/") + "Anunturi/judet-Vaslui")" shape="poly" coords="553,206,560,208,562,206,566,207,569,202,574,205,578,206,583,203,591,203,591,200,586,198,587,194,596,199,598,206,600,206,600,203,603,199,604,207,608,212,612,211,615,207,619,209,623,211,628,208,628,219,633,225,639,230,639,237,636,243,639,249,640,257,639,261,636,263,637,268,630,280,631,293,627,295,621,294,615,289,611,288,609,292,606,295,603,291,591,290,589,293,592,297,594,298,588,304,585,303,585,298,582,294,580,292,580,286,582,283,580,270,577,264,575,254,569,240,563,236,566,232,562,222,557,221,559,216" />
            <area class="judetHarta" alt="Bacau" title="Anunturi Bacau" href="@(Url.Content("~/") + "Anunturi/judet-Bacau")" shape="poly" coords="461,229,465,224,469,230,470,233,474,233,479,228,484,228,488,232,499,232,502,229,507,231,511,226,521,220,525,224,526,218,530,215,531,212,534,213,532,217,536,219,539,218,542,216,547,219,551,222,557,220,562,222,566,232,563,235,567,238,571,244,575,253,576,263,581,271,581,284,579,285,574,282,572,285,569,287,566,283,561,286,555,287,553,286,549,289,548,293,545,293,535,298,530,299,523,295,512,295,510,298,510,303,507,305,502,302,501,299,494,292,493,287,489,285,489,277,484,277,483,274,486,269,484,268,478,271,474,269,474,263,471,262,465,261,460,256,468,249,467,241,463,237" />
            <area class="judetHarta" alt="Covasna" title="Anunturi Covasna" href="@(Url.Content("~/") + "Anunturi/judet-Covasna")" shape="poly" coords="419,295,420,286,422,284,428,284,436,275,441,282,446,288,451,293,454,293,459,295,468,290,473,289,484,278,488,279,490,286,493,290,498,299,502,302,497,307,496,310,494,313,495,318,495,323,497,328,494,334,493,342,491,349,488,351,485,352,485,345,483,344,480,347,480,351,478,352,476,350,474,353,471,354,468,351,468,347,464,348,451,338,447,334,443,334,439,336,436,335,436,332,433,329,429,326,427,318,428,306,429,303,427,301,422,303,419,302" />
            <area class="judetHarta" alt="Vrancea" title="Anunturi Vrancea" href="@(Url.Content("~/") + "Anunturi/judet-Vrancea")" shape="poly" coords="502,301,508,305,510,303,510,298,512,295,519,295,523,294,530,299,545,294,548,293,549,290,554,287,556,288,560,287,563,286,565,285,568,287,571,287,574,284,579,285,580,288,580,291,575,292,572,292,571,296,560,303,559,307,563,315,566,319,567,323,569,328,569,335,576,343,582,352,583,357,585,360,585,363,587,364,583,368,579,372,574,375,571,375,568,375,564,373,564,369,562,368,556,369,553,370,552,365,550,365,544,366,540,361,535,359,529,360,527,356,523,352,520,349,517,352,514,352,512,353,510,350,508,348,507,344,504,342,504,335,500,329,497,328,495,323,495,317,494,312,497,309" />
            <area class="judetHarta" alt="Galati" title="Anunturi Galati" href="@(Url.Content("~/") + "Anunturi/judet-Galati")" shape="poly" coords="588,304,594,298,590,295,589,293,592,290,601,291,605,295,609,292,611,289,615,288,619,293,626,295,631,293,631,298,628,303,629,309,631,312,631,321,637,338,637,343,632,347,628,350,635,356,637,359,637,363,640,365,636,371,630,370,626,372,621,373,610,373,603,369,600,371,593,370,590,365,586,364,585,360,584,357,583,353,579,348,576,342,570,337,568,328,567,322,566,318,559,306,560,302,571,297,571,293,577,293,580,291,582,293,584,299,585,303" />
            <area class="judetHarta" alt="Prahova" title="Anunturi Prahova" href="@(Url.Content("~/") + "Anunturi/judet-Prahova")" shape="poly" coords="419,368,431,365,445,364,452,370,456,366,456,363,459,359,464,361,470,364,474,367,475,373,475,376,473,377,481,386,482,396,485,398,489,400,492,402,495,399,497,400,499,409,504,415,511,420,508,423,507,425,512,431,512,434,509,435,507,437,505,440,498,439,491,441,488,444,488,447,486,448,479,445,475,445,473,448,460,448,458,444,453,442,449,446,443,441,443,436,449,434,449,429,444,427,437,425,437,414,433,411,432,407,426,401,424,395,425,389,423,385,418,380" />
            <area class="judetHarta" alt="Buzau" title="Anunturi Buzau" href="@(Url.Content("~/") + "Anunturi/judet-Buzau")" shape="poly" coords="470,364,471,360,471,355,475,352,476,350,478,352,480,350,480,347,484,345,485,352,490,350,493,342,494,334,497,329,503,332,504,342,507,344,508,348,511,351,512,354,515,352,520,350,527,356,529,360,535,359,541,363,544,367,551,365,553,369,563,368,565,373,569,375,573,375,579,372,578,378,576,379,576,386,572,387,569,394,561,395,558,392,554,394,552,398,550,402,552,403,554,401,557,404,560,405,559,412,562,417,568,421,565,428,563,435,564,439,562,442,559,441,557,442,558,448,555,451,551,445,550,441,547,442,540,441,538,439,535,441,531,439,527,440,520,441,513,434,509,428,507,425,510,422,510,419,505,415,500,412,498,405,497,399,494,399,492,402,490,401,487,398,482,397,481,390,481,386,476,380,473,376,476,374,474,368" />
            <area class="judetHarta" alt="Braila" title="Anunturi Braila" href="@(Url.Content("~/") + "Anunturi/judet-Braila")" shape="poly" coords="579,372,583,369,587,364,592,368,598,371,603,370,610,373,621,373,626,373,624,377,624,382,622,386,624,389,629,387,634,390,631,396,633,398,636,398,636,401,634,403,635,410,634,418,635,421,633,425,633,429,630,434,632,439,629,441,629,444,622,443,618,441,614,443,609,441,607,438,604,439,601,443,590,442,585,441,578,442,573,441,566,444,562,442,564,438,563,434,566,425,568,422,565,419,559,413,560,407,560,404,557,403,554,400,552,404,550,402,553,394,559,393,562,394,567,395,572,387,575,386,576,380" />
            <area class="judetHarta" alt="Tulcea" title="Anunturi Tulcea" href="@(Url.Content("~/") + "Anunturi/judet-Tulcea")" shape="poly" coords="630,369,636,371,641,364,646,368,646,376,654,381,669,386,678,390,683,392,684,386,686,384,685,376,688,377,692,382,697,382,708,375,716,369,719,364,723,367,725,364,729,366,735,364,742,366,753,374,754,380,750,384,756,393,754,397,753,402,753,410,753,421,750,424,753,428,752,432,740,432,734,435,728,434,721,434,713,436,710,440,707,446,702,447,697,452,688,453,676,450,669,453,664,455,659,456,656,451,653,449,649,450,644,449,645,444,641,441,634,439,631,438,631,431,633,426,632,423,635,419,634,416,634,402,636,399,635,396,632,396,633,391,634,389,629,386,625,388,622,386,625,381,624,375" />
            <area class="judetHarta" alt="Ialomita" title="Anunturi Ialomita" href="@(Url.Content("~/") + "Anunturi/judet-Ialomita")" shape="poly" coords="488,444,493,440,498,439,505,440,509,434,512,433,519,441,528,439,532,440,535,441,537,440,541,442,549,441,551,445,555,450,558,449,558,441,560,441,565,445,573,441,580,442,587,441,599,443,605,439,609,439,614,443,614,449,616,453,620,453,627,458,628,464,626,469,626,472,629,471,635,477,635,481,631,482,628,486,627,491,622,488,615,486,607,485,601,484,598,480,595,480,593,484,590,482,591,477,590,471,588,471,586,476,552,477,545,473,542,475,526,471,521,471,519,466,515,468,515,472,514,475,508,473,505,468,501,469,501,474,497,474,493,474,492,470,495,468,492,465,491,462,494,458,492,453,488,451" />
            <area class="judetHarta" alt="Calarasi" title="Anunturi Calarasi" href="@(Url.Content("~/") + "Anunturi/judet-Calarasi")" shape="poly" coords="493,473,499,474,501,472,502,468,505,467,509,472,514,474,516,468,518,465,522,470,528,471,537,474,543,474,544,472,549,475,552,477,586,476,588,472,590,470,591,476,590,482,594,483,595,478,599,481,606,484,615,485,623,488,627,490,626,494,624,497,620,501,611,500,603,506,594,505,591,508,587,513,577,515,566,515,548,515,539,515,532,519,521,523,512,527,498,528,495,521,498,517,500,515,497,513,495,506,489,504,484,500,489,493,493,486,499,485,500,480,495,480" />
            <area class="judetHarta" alt="Constanta" title="Anunturi Constanta" href="@(Url.Content("~/") + "Anunturi/judet-Constanta")" shape="poly" coords="613,450,614,443,619,441,625,444,629,444,630,440,633,439,638,441,645,444,644,451,649,452,653,450,656,452,657,456,662,456,669,455,676,451,686,451,689,455,696,453,702,448,707,447,702,459,697,461,690,471,689,477,682,488,676,494,679,501,682,510,679,518,680,524,681,531,679,537,676,545,675,557,658,557,647,555,636,550,626,540,624,534,622,530,617,530,614,534,607,535,603,529,599,526,592,528,581,527,574,524,567,516,578,515,586,515,590,510,594,506,603,507,611,501,620,501,624,497,627,492,627,487,632,481,636,480,633,473,628,471,625,471,626,467,628,460,624,454,620,451,617,453" />
            <area class="judetHarta" alt="Bucuresti-Ilfov" title="Anunturi Bucuresti-Ilfov" href="@(Url.Content("~/") + "Anunturi/judet-Bucuresti-Ilfov")" shape="poly" coords="453,473,455,474,456,472,456,468,458,467,460,467,462,464,461,462,459,459,462,456,463,453,461,450,461,448,469,448,473,448,476,445,479,445,484,448,487,448,488,446,489,449,489,451,492,454,494,458,492,462,490,464,494,467,496,468,495,470,492,470,492,472,494,474,494,477,494,480,496,481,499,481,501,483,500,486,497,486,493,488,492,491,490,494,487,497,484,499,483,501,481,502,478,504,475,504,471,503,466,499,461,496,457,494,454,493,452,490,454,488,456,485,455,481,453,478" />
        </map>

        @*<h3 style="position: absolute; top: 58px; left: 0px">Total: @judetAnunturiDict.Sum(x => x.Value) anunțuri active</h3>*@
        @*<h3 style="position: absolute; top: 48px; left: 656px">Număr anunțuri</h3>*@
        @{
            var sortedDict = (from entry in judetAnunturiDict orderby entry.Value descending select entry)
              .ToDictionary(pair => pair.Key, pair => pair.Value).Take(7);
            var heightPosition = 75;
            var initial = heightPosition + "px";
        }

        <h3 style="position: absolute; top: @initial; left: 660px; cursor: pointer; white-space: nowrap; overflow: hidden" onclick="document.location.href = '/Anunturi/Lista'; ">Toate Anunurile  <span class="badge alert-success">@judetAnunturiDict.Sum(x => x.Value)</span></h3>

        @foreach (var val in sortedDict)
        {
            heightPosition += 22;
            var formatedPos = heightPosition + "px";
            <h3 style="position: absolute; top: @formatedPos; left: 660px; cursor: pointer; white-space: nowrap; overflow: hidden" onclick="document.location.href = '/Anunturi/Lista/judet-@val.Key'; ">@val.Key <span class="badge alert-success">@val.Value</span></h3>
        }

        <span class="badge" style="position: absolute; pointer-events: none; top: 286px; left: 278px;">
            @(judetAnunturiDict.ContainsKey("Alba") ? @judetAnunturiDict["Alba"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 253px; left: 264px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Alba';">AB</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 270px; left: 142px;">
            @(judetAnunturiDict.ContainsKey("Arad") ? @judetAnunturiDict["Arad"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 237px; left: 124px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Arad';">AR</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 414px; left: 381px;">
            @(judetAnunturiDict.ContainsKey("Arges") ? @judetAnunturiDict["Arges"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 380px; left: 363px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Arges';">AG</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 260px; left: 539px;">
            @(judetAnunturiDict.ContainsKey("Bacau") ? @judetAnunturiDict["Bacau"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 229px; left: 517px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Bacau';">BC</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 198px; left: 180px;">
            @(judetAnunturiDict.ContainsKey("Bihor") ? @judetAnunturiDict["Bihor"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 163px; left: 166px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Bihor';">BH</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 167px; left: 360px;">
            @(judetAnunturiDict.ContainsKey("Bistrita-Nasaud") ? @judetAnunturiDict["Bistrita-Nasaud"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 134px; left: 341px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Bistrita-Nasaud';">BN</h3>

        <span class="badge" style="position: absolute; pointer-events: none; top: 98px; left: 540px;">
            @(judetAnunturiDict.ContainsKey("Botosani") ? @judetAnunturiDict["Botosani"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 65px; left: 516px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Botosani';">BT</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 409px; left: 604px;">
            @(judetAnunturiDict.ContainsKey("Braila") ? @judetAnunturiDict["Braila"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 373px; left: 601px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Braila';">BR</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 330px; left: 420px;">
            @(judetAnunturiDict.ContainsKey("Brasov") ? @judetAnunturiDict["Brasov"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 300px; left: 398px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Brasov';">BV</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 477px; left: 480px;">
            @(judetAnunturiDict.ContainsKey("Bucuresti-Ilfov") ? @judetAnunturiDict["Bucuresti-Ilfov"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 440px; left: 476px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Bucuresti-Ilfov';">B-IF</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 391px; left: 533px;">
            @(judetAnunturiDict.ContainsKey("Buzau") ? @judetAnunturiDict["Buzau"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 357px; left: 524px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Buzau';">BZ</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 482px; left: 571px;">
            @(judetAnunturiDict.ContainsKey("Calarasi") ? @judetAnunturiDict["Calarasi"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 477px; left: 529px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Calarasi';">CL</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 394px; left: 159px;">
            @(judetAnunturiDict.ContainsKey("Caras-Severin") ? @judetAnunturiDict["Caras-Severin"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 362px; left: 142px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Caras-Severin';">CS</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 219px; left: 286px;">
            @(judetAnunturiDict.ContainsKey("Cluj") ? @judetAnunturiDict["Cluj"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 187px; left: 265px;" onclick="document.location.href = '/Anunturi/Lista/judet-Cluj';">CJ</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 500px; left: 661px;">
            @(judetAnunturiDict.ContainsKey("Constanta") ? @judetAnunturiDict["Constanta"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 465px; left: 648px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Constanta';">CT</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 315px; left: 481px;">
            @(judetAnunturiDict.ContainsKey("Covasna") ? @judetAnunturiDict["Covasna"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 285px; left: 462px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Covasna';">CV</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 429px; left: 434px;">
            @(judetAnunturiDict.ContainsKey("Dambovita") ? @judetAnunturiDict["Dambovita"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 396px; left: 417px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Dambovita';">DB</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 510px; left: 291px;">
            @(judetAnunturiDict.ContainsKey("Dolj") ? @judetAnunturiDict["Dolj"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 478px; left: 262px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Dolj';">DJ</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 328px; left: 618px;">
            @(judetAnunturiDict.ContainsKey("Galati") ? @judetAnunturiDict["Galati"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 295px; left: 603px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Galati';">GL</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 511px; left: 476px;">
            @(judetAnunturiDict.ContainsKey("Giurgiu") ? @judetAnunturiDict["Giurgiu"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 505px; left: 451px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Giurgiu';">GR</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 414px; left: 262px;">
            @(judetAnunturiDict.ContainsKey("Gorj") ? @judetAnunturiDict["Gorj"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 383px; left: 238px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Gorj';">GJ</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 248px; left: 427px;">
            @(judetAnunturiDict.ContainsKey("Harghita") ? @judetAnunturiDict["Harghita"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 213px; left: 419px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Harghita';">HR</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 326px; left: 234px;">
            @(judetAnunturiDict.ContainsKey("Hunedoara") ? @judetAnunturiDict["Hunedoara"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 294px; left: 215px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Hunedoara';">HD</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 450px; left: 581px;">
            @(judetAnunturiDict.ContainsKey("Ialomita") ? @judetAnunturiDict["Ialomita"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 436px; left: 545px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Ialomita';">IL</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 160px; left: 585px;">
            @(judetAnunturiDict.ContainsKey("Iasi") ? @judetAnunturiDict["Iasi"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 138px; left: 552px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Iasi';">IS</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 119px; left: 306px;">
            @(judetAnunturiDict.ContainsKey("Maramures") ? @judetAnunturiDict["Maramures"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 83px; left: 308px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Maramures';">MM</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 472px; left: 223px;">
            @(judetAnunturiDict.ContainsKey("Mehedinti") ? @judetAnunturiDict["Mehedinti"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 437px; left: 215px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Mehedinti';">MH</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 244px; left: 355px;">
            @(judetAnunturiDict.ContainsKey("Mures") ? @judetAnunturiDict["Mures"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 208px; left: 349px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Mures';">MS</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 197px; left: 505px;">
            @(judetAnunturiDict.ContainsKey("Neamt") ? @judetAnunturiDict["Neamt"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 165px; left: 477px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Neamt';">NT</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 497px; left: 352px;">
            @(judetAnunturiDict.ContainsKey("Olt") ? @judetAnunturiDict["Olt"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 466px; left: 332px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Olt';">OT</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 404px; left: 477px;">
            @(judetAnunturiDict.ContainsKey("Prahova") ? @judetAnunturiDict["Prahova"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 373px; left: 459px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Prahova';">PH</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 172px; left: 249px;">
            @(judetAnunturiDict.ContainsKey("Salaj") ? @judetAnunturiDict["Salaj"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 141px; left: 236px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Salaj';">SJ</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 118px; left: 220px;">
            @(judetAnunturiDict.ContainsKey("Satu-Mare") ? @judetAnunturiDict["Satu-Mare"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 83px; left: 222px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Satu-Mare';">SM</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 324px; left: 323px;">
            @(judetAnunturiDict.ContainsKey("Sibiu") ? @judetAnunturiDict["Sibiu"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 289px; left: 323px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Sibiu';">SB</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 124px; left: 465px;">
            @(judetAnunturiDict.ContainsKey("Suceava") ? @judetAnunturiDict["Suceava"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 104px; left: 429px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Suceava';">SV</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 527px; left: 409px;">
            @(judetAnunturiDict.ContainsKey("Teleorman") ? @judetAnunturiDict["Teleorman"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 495px; left: 394px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Teleorman';">TR</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 314px; left: 128px;">
            @(judetAnunturiDict.ContainsKey("Timis") ? @judetAnunturiDict["Timis"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 296px; left: 86px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Timis';">TM</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 405px; left: 700px;">
            @(judetAnunturiDict.ContainsKey("Tulcea") ? @judetAnunturiDict["Tulcea"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 381px; left: 669px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Tulcea';">TL</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 402px; left: 324px;">
            @(judetAnunturiDict.ContainsKey("Valcea") ? @judetAnunturiDict["Valcea"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 371px; left: 309px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Valcea';">VL</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 248px; left: 616px;">
            @(judetAnunturiDict.ContainsKey("Vaslui") ? @judetAnunturiDict["Vaslui"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 215px; left: 594px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Vaslui';">VS</h3>
        <span class="badge" style="position: absolute; pointer-events: none; top: 327px; left: 557px;">
            @(judetAnunturiDict.ContainsKey("Vrancea") ? @judetAnunturiDict["Vrancea"] : 0)
        </span>
        <h3 style="position: absolute; pointer-events: none; top: 296px; left: 538px; cursor: pointer" onclick="document.location.href = '/Anunturi/Lista/judet-Vrancea';">VN</h3>

        <div id="overlay" style="position: absolute; top: 0px; left: 0px; background: #fff; padding-left: 80px; display: none">
            <img src="../../Images/preloader.gif" id="img-load" style="position: absolute; width: 128px; height: 128px" />
        </div>
    </div>
</div>
<div style="margin-top: 25px" class="row">
    <div class="col-xs-12">
        <p style="font-size: 1.1em;"><b>Ultimele Anunțuri:</b></p>
    </div>
    @{
        List<Imobil> lastAddedImobils = ViewBag.LastAddedImobils;
    }
    @if (lastAddedImobils.Count > 0)
    {
        foreach (var imobil in lastAddedImobils.ToList())
        {
            <a href="@UrlBuilder.BuildAnuntPageUrl(imobil.Oras.Nume, imobil.TipProprietate, imobil.TipOfertaGen, imobil.Title, imobil.Id)" class="col-sm-3">
                <div class="imageBox" style="text-decoration: none;">
                    <img class="center-cropped" style="padding: 10px; height: 180px;" src="~/Images/uploadedPhotos/@imobil.FirstPhoto" alt="@HtmlHelpers.RemoveSpecialCharacters(imobil.Title, ' ', false)" />
                    <div style="padding: 20px">
                        <div style="height: 30px">
                            <p>@imobil.Judet.Nume, @imobil.Oras.Nume, @TipOfertaDisplayFormatter.GetDisplayString(imobil.TipProprietate, imobil.TipOfertaGen)</p>
                        </div>
                        <h3 style="font-size: 1.4em">@PriceFormatter.FormatPrice(imobil.Price.Value)€</h3>
                        @if (imobil.NumarCamere > 0)
                        {
                            <p style="margin-bottom: 0px; padding-top: 10px">@imobil.Suprafata m² &nbsp;&nbsp;&nbsp;&nbsp;@imobil.NumarCamere camere</p>
                        }
                        else
                        {
                            <p style="margin-bottom: 0px; padding-top: 10px">@imobil.Suprafata m²</p>
                        }
                    </div>
                </div>
            </a>
        }
    }
</div>

@if (ViewBag.UltimeleStiri != null && ((List<Stire>)ViewBag.UltimeleStiri).Count > 0)
{
    var stiri = ViewBag.UltimeleStiri as List<Stire>;
    <hr />
    <div style="margin-top: 25px" class="row col-lg-offset-1">
        <div class="col-xs-12">
            <h3 style="margin-bottom: 10px">Ultimele știri:</h3>
        </div>
        @*@if(!RelatedLinkGenerator.LocalitatiGenerate.Contains())*@
        @foreach (var stire in stiri)
        {
            <a href="@StiriUrls.BuildStirePageUrl(stire)">
                <div class="col-xs-12">
                    @if (!string.IsNullOrEmpty(stire.Poze))
                    {
                        <div style="display: inline-block" class="col-xs-8 col-sm-4 col-lg-4">
                            <img class="center-cropped" style="padding: 10px; height: 200px;" src="../../Images/Stiri/@stire.Poze.Split(';')[0]" />
                        </div>
                    }
                    <div style="display: inline-block" class="col-xs-12 col-sm-7 col-lg-8">
                        <h3>@stire.Titlu</h3>
                    </div>
                </div>
                @*Need clearfix to show hr on new line full width*@
                <div class="clearfix"></div>
                <hr>

            </a>
        }
        <div class="col-xs-12">
            <a href="@Url.Action("Index", "Stiri")"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Toate știrile...</a>
        </div>
    </div>
}

<hr />

<div class="container">

    <div class="clearfix"></div>

    <a href="@Url.Action("AnuntEditare","Administrare")" class="col-sm-4" style="text-decoration: none">
        <div style="background-color: #f9f9f9; padding: 10px; min-height: 120px">
            <img src="~/Images/DecorationImages/anunt_adauga.svg" style="width: 100%; max-width: 100px; float: left; padding-right: 15px" />
            <p><strong>Postează anunț</strong></p>
            <p>Introduceți anunțul de vânzare sau de închiriat. Este gratis. Nelimitat</p>
        </div>
    </a>

    <a href="@Url.Action("AnuntEditare","Administrare")" class="col-sm-4" style="text-decoration: none">
        <div style="background-color: #f9f9f9; padding: 10px; min-height: 120px">
            <img src="~/Images/DecorationImages/anunt_evalueaza.svg" style="width: 100%; max-width: 100px; float: left; padding-right: 15px" />
            <p><strong>Evaluează-ți casa</strong></p>
            <p>Aflați cât valorează casa dvs. într-un mod ușor și gratuit.</p>
        </div>
    </a>

    <a href="@Url.Action("AnuntEditare","Administrare")" class="col-sm-4" style="text-decoration: none">
        <div style="background-color: #f9f9f9; padding: 10px; min-height: 120px">
            <img src="~/Images/DecorationImages/anunt_verifica.svg" style="width: 100%; max-width: 100px; float: left; padding-right: 15px" />
            <div>
                <h3 style="margin-bottom: 10px; margin-top: 5px">Verifica prețuri imobiliare</h3>
                <p>Aflați despre prețurile proprietăților și tendințele acestora în timp.</p>
            </div>
        </div>
    </a>

</div>
<hr />


<div class="main-content container">
    <h3 style="margin-bottom: 10px">Îți dorești o casă a ta?</h3>
    @*<h3>Spune-ne exact ce cauti!</h3>*@
    <p><strong>Spune-ne exact ce cauți!</strong> Creează gratuit un cont de cumpărător pe siteul nostru si spune-ne ce apartament sau ce casă iți dorești. Cineva poate vinde exact locuința ta de vis!</p>
    @*<a style="float: right; font-weight: bold" href="@Url.Action("Index","Profiluri")"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Vezi toate profilurile</a>*@
    <div class="clearfix"></div>

    @{
        List<Imobil> lastAddedProfiluri = ViewBag.LastAddedImobilsCautare;
    }

    @if (lastAddedProfiluri.Count > 0)
    {
        int i = 0;
        foreach (var profil in lastAddedProfiluri.ToList())
        {
            if (i == 1)
            {
                <a href="@Url.Action("AnuntEditare","Administrare")" class="col-sm-3" style="text-decoration: none">
                    <div style="position: relative; background-color: #f9f9f9; height: 160px; padding: 10px;">
                        <span class="glyphicon glyphicon-user" style="font-size: 2em"></span><br />
                        <p>Primiti oferte imobiliare direct de la ofertant in loc sa cautati singur.</p>
                        <button class="btn btn-light"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Ce cauti?</button>
                    </div>
                </a>
            }

            i++;
            <a href="@UrlBuilder.BuildAnuntPageUrl(profil.Oras.Nume, profil.TipProprietate, profil.TipOfertaGen, profil.Title, profil.Id)" class="col-sm-3">
                <div style="position: relative; background-color: #f9f9f9; height: 160px; padding: 10px;">
                    <span class="glyphicon glyphicon-user" style="font-size: 2em"></span>
                    <p>@profil.Title</p>
                    @if (profil.Oras != null)
                    {
                        <p>@profil.Oras.Nume</p>
                    }
                    <button class="btn btn-light">Detalii</button>
                </div>
            </a>
        }
    }
</div>

<br />
<br />
<section class="main-content container seoLinksContainer">
    <h3 style="margin-bottom: 10px">Cele mai căutate orașe</h3>
    @*@if(!RelatedLinkGenerator.LocalitatiGenerate.Contains())*@
    <div class="col-xs-12 col-sm-6 col-md-3 " style="border-right: 1px solid #a7d582; margin-bottom: 10px">
        <p style="font-size: 0.9em; margin-bottom: 0px;">
            <a href="/Anunturi/Lista/judet-Cluj/Vanzare-Apartamente">Apartamente vânzare Cluj</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Bucuresti-Ilfov/localitate-Bucuresti/tip-Vanzare-Apartamente/camere-2-3">Apartamente vânzare Bucuresti</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Timis/localitate-Timisoara/tip-Vanzare-Apartamente">Apartamente vânzare Timisoara</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Sibiu/localitate-Sibiu/tip-Vanzare-Apartamente">Apartamente vânzare Sibiu</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Iasi/localitate-Iasi/tip-Vanzare-Apartamente">Apartamente vânzare Iasi</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Constanta/localitate-Constanta/tip-Vanzare-Apartamente">Apartamente vânzare Constanta</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Brasov/localitate-Brasov/tip-Vanzare-Apartamente">Apartamente vânzare Brasov</a>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 " style="border-right: 1px solid #a7d582; margin-bottom: 10px">
        <p style="font-size: 0.9em; margin-bottom: 0px;">
            <a href="/Anunturi/Lista/judet-Cluj/localitate-Cluj-Napoca/tip-Inchiriat-Apartamente">Apartamente inchiriat Cluj-Napoca</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Bucuresti-Ilfov/localitate-Bucuresti/tip-Inchiriat-Apartamente">Apartamente inchiriat Bucuresti</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Timis/localitate-Timisoara/tip-Inchiriat-Apartamente">Apartamente inchiriat Timisoara</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Sibiu/localitate-Sibiu/tip-Inchiriat-Apartamente">Apartamente inchiriat Sibiu</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Iasi/localitate-Iasi/tip-Inchiriat-Apartamente">Apartamente inchiriat Iasi</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Constanta/localitate-Constanta/tip-Inchiriat-Apartamente">Apartamente inchiriat Constanta</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Brasov/localitate-Brasov/tip-Inchiriat-Apartamente">Apartamente inchiriat Brasov</a>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 " style="border-right: 1px solid #a7d582; margin-bottom: 10px">
        <p style="font-size: 0.9em; margin-bottom: 0px;">
            <a href="/Anunturi/Lista/judet-Cluj/localitate-Cluj-Napoca/tip-Vanzare-Garsoniere">Garsonieră vânzare Cluj-Napoca</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Bucuresti-Ilfov/localitate-Bucuresti/tip-Vanzare-Garsoniere">Garsonieră vânzare Bucuresti</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Timis/localitate-Timisoara/tip-Vanzare-Garsoniere">Garsonieră vânzare Timisoara</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Sibiu/localitate-Sibiu/tip-Vanzare-Garsoniere">Garsonieră vânzare Sibiu</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Iasi/localitate-Iasi/tip-Vanzare-Garsoniere">Garsonieră vânzare Iasi</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Constanta/localitate-Constanta/tip-Vanzare-Garsoniere">Garsonieră vânzare Constanta</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Brasov/localitate-Brasov/tip-Vanzare-Garsoniere">Garsonieră vânzare Brasov</a>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 ">
        <p style="font-size: 0.9em; margin-bottom: 0px;">
            <a href="/Anunturi/Lista/judet-Cluj/tip-Vanzare-Teren">Teren vânzare județul Cluj</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Bucuresti-Ilfov/tip-Vanzare-Teren">Teren vânzare Bucuresti</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Timis/tip-Vanzare-Teren">Teren vânzare județul Timis</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Sibiu/tip-Vanzare-Teren">Teren vânzare județul Sibiu</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Iasi/tip-Vanzare-Teren">Teren vânzare județul Iasi</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Constanta/tip-Vanzare-Teren">Teren vânzare județul Constanta</a>
        </p>
        <p style="font-size: 0.9em; margin-bottom: 0px; margin-top: 0px;">
            <a href="/Anunturi/Lista/judet-Brasov/tip-Vanzare-Teren">Teren vânzare județul Brasov</a>
        </p>
    </div>
</section>

@section facebookLike{
    <hr />
    <div style="margin-bottom: 10px" class="fb-page"
         data-href="https://www.facebook.com/apartamente24"
         data-width="340"
         data-hide-cover="false"
         data-show-facepile="true"></div>
}

@*-----------------------------------------Scripts-----------------------------------------------------*@

@section Scripts {
    @Html.Partial("_SearchBoxPartialScript")
    <script type="text/javascript" src="~/Scripts/jquery.maphilight.min.js">
    </script>

    <script type="text/javascript">
          //callback dependent on _SearchBoxPartialScript
          function localitateSelectataDropdown() {
          }

          $(document).mousedown(function (e) {
              var container4 = $("#custom-dropdown-tipoferta");
              if (!container4.is(e.target) // if the target of the click isn't the container...
                  && container4.has(e.target).length === 0) // ... nor a descendant of the container
              {
                  if (container4.css('display') != 'none') {
                      container4.hide();
                  }
              }
          });


          $(function () {
              $('.map').maphilight({ fade: false });

              $(".judetHarta").on("click", function (e) {
                  //Show loading indicator only for left mouse click, not for wheel
                  if (e.which == 1) {
                      $("#overlay").fadeIn();
                  }
              });

              $('#body').css('opacity', '0.1');

              //Assuming Backgrounds between homeBackGround1->homeBackGround4(extend if new ones are added)
              $('#body').css('background-image', 'url(' + '../../Images/homeBackground' + Math.floor(Math.random() * (4 - 1 + 1) + 1) + '.jpg' + ')');
              $('#body').css('background-repeat', 'no-repeat');
              $('#body').animate({ opacity: 1 }, 2000, function () {
                  $(".TipOfertaSelect").effect("highlight", {}, 1500);
                  $(".highlightTextBox").effect("highlight", {}, 3000);
              });

              $("#overlay").css({
                  opacity: 0.5,
                  top: 41,
                  width: 830,
                  height: 550
              });

              $("#img-load").css({
                  top: (200),
                  left: (390)
              });

              @*$("#TipOfertaSelectButton").html("@TipOfertaDisplayFormatter.GetDisplayString((TipOferta) Enum.Parse(typeof (TipOferta), ViewBag.TipOferta.ToString()))" + "<span class=\"caret\"></span>");*@
              $(".TipOfertaSelect").val("@ViewBag.TipOferta");

              $("#custom-dropdown-tipoferta li").click(function () {
                  $(this).parents('#tipOfertaSelectControl').find('button').html($(this).find("p").text());
                  $(this).parents('#tipOfertaSelectControl').find('button').effect("highlight", { times: 5 }, 3000);
                  var selectedOferta = $(this).data("tipoferta");
                  $(".TipOfertaSelect").val(selectedOferta);
                  $("#custom-dropdown-tipoferta").hide();
              });

              //Set cookie with last entered localitate
              var cookieLastSearchedLocalitate = $.cookie("cookieLastSearchedLocalitate");
              if (cookieLastSearchedLocalitate) {
                  $(".searchBox").val(cookieLastSearchedLocalitate);
              }

              $("#dropdownTipOfertaGenSelectButton").click(function () {
                  $.ajax({
                      url: '@Url.Action("GetNumarAnunturiPerTipOfertaGenForFilter", "Home")',
                      type: 'POST',
                      data: {
                          TipProprietate: $("#TipProprietateSelect").val(),
                          localitateString: $(".searchBox").val()
                      },
                      success: function (data) {
                          var allImo = data.split('|');
                          for (var i = 0; i < allImo.length - 1; i++) {
                              var tipOferta = allImo[i].split(',')[0];
                              $("#dropdownTipOfertaGenSelectList").find("[data-listvalue='" + tipOferta + "']").find("span").text(allImo[i].split(',')[1]);
                          }
                      }
                  });
              });

              $("#dropdownTipProprietateSelectButton").click(function () {
                  $.ajax({
                      url: '@Url.Action("GetNumarAnunturiPerTipOfertaForFilter", "Home")',
                      type: 'POST',
                      data: {
                          TipOfertaGen: $("#TipOfertaGenSelect").val(),
                          localitateString: $(".searchBox").val()
                      },
                      success: function (data) {
                          var allImo = data.split('|');
                          for (var i = 0; i < allImo.length - 1; i++) {
                              var tipOferta = allImo[i].split(',')[0];
                              $("#dropdownTipProprietateSelectList").find("[data-listvalue='" + tipOferta + "']").find("span").text(allImo[i].split(',')[1]);
                          }
                      }
                  });
              });

              $("#dropdownTipOfertaGenSelectList li").click(function () {

                  var rezText = " Rezultate";
                  if ($(this).find("span").text() == 1) {
                      rezText = " Rezultat";
                  }
                  $("#SearchBtnHomeTxt").text($(this).find("span").text() + rezText);
              });

              $("#dropdownTipProprietateSelectList li").click(function () {

                  var rezText = " Rezultate";
                  if ($(this).find("span").text() == 1) {
                      rezText = " Rezultat";
                  }
                  $("#SearchBtnHomeTxt").text($(this).find("span").text() + rezText);
              });
          });
    </script>
}
